// onedark theme vars

// rgba variables
@rgba-black_02: rgba(0, 0, 0, 0.2);
@rgba-black_03: rgba(0, 0, 0, 0.3);
@rgba-black_05: rgba(0, 0, 0, 0.5);
@rgba-black_065: rgba(0, 0, 0, 0.65);
@rgba-black_07: rgba(0, 0, 0, 0.7);
@rgba-black_075: rgba(0, 0, 0, 0.75);
@rgba-black_08: rgba(0, 0, 0, 0.8);

@rgba-white_075: rgba(255,255,255,.75);


@red-color: #e61b1b;

@green-color: #080;
@green-neutral-color: #639d8a;
@green-neutral_hover-color: #3f9176;

@gray-color: #777;
@gray-light-color: #999;

@white-gray-color: #ccc;
@white-gray-1-color: #ddd;
@white-gray-light-color: #eee;


@red-error-color: @red-color;
@red-icon-color: #c14a51;
@red-button-color: #c14a51;
@green-icon-color: #4bae4f;
@green-button-color: #73a15d;
// variables
// normalize.less

@body-color: #ccc;
@body-bgColor: #282C34; // #282C34 - ST3 OneDark bg
@body1-color: #eee; // little lighter

@a-color: #7996cf; // @a-color: #4d78cc;
@a_hover-color: #4d78cc; // @a_hover-color: #3167D7;
@a1-color: #7996cf; // little lighter
@a1_hover-color: #4d78cc;

@button-color: @a-color;
@button_hover-color: @a_hover-color;
@button-bgColor: transparent;
@button_hover-bgColor: transparent;
@button_active-bgColor: transparent;
// @button-boxShadowColor: 0 0 0.5em inset;
@button-boxShadowColor: 0 0 0.5em inset, 0 0.1em 0.2em darken(@button-color, 55%);
// @button_hover-boxShadowColor: 0 0 0.2em inset;
@button_hover-boxShadowColor: 0 0 0.2em inset, 0 0.1em 0.4em darken(@button-color, 60%);
// @button_active-boxShadowColor: 0 0 0.3em, 0 0 0.35em inset;
@button_active-boxShadowColor:  0 0 0.35em inset, 0 0 0.3em darken(@button-color, 60%);
@button_disabled-color: #5C6370;

@input-color: @body-color;
@input-bgColor: #1b1d23;
@input-boxShadowColor: #181a1f;
@input_hover-boxShadowColor: #5C6370;

@checkbox-color: #7996cf;
@checkbox_active-color: #73a15d;

@select-color: @body-color;
@select-bgColor: @input-bgColor;
@select_focus-boxShadowColor: #5C6370;

@blockquote-borderColor: #70b4b3;

@mark-color: @body-color;
// @mark-bgColor: #505835;
@mark-bgColor: #355854;

@code-color: #bbb;
@code-bgColor: #181d26;
@pre-borderColor: @rgba-black_05;
// normalize.less /z


// main.less

@system-message-bgColor: #111;
@alert-color: @red-color;

@header-bgColor: #21252B;
@header-menu-a-color: @body-color;
@header-menu-a_hover-bgColor: rgba(24, 26, 31, 0.9);
@header-menu-li-borderColor: @header-menu-a_hover-bgColor;
@header-menu-hide_ul-bgColor: rgba(33, 37, 43, 0.98);
@header-menu-hide_ul-boxShadowColor1: #5C6370;
@header-menu-hide_ul-boxShadowColor2: #000;
@header-menu-hide_ul-li-borderColor: @header-menu-li-borderColor;

@body-mobileMenu_open-bgColor: @rgba-black_08;
@mobileMenu-buttonClose-color: @red-color;
@mobileMenu-bgColor: #181a1f;
@mobileMenu-boxShadowColor: @header-menu-hide_ul-boxShadowColor1;
@mobileMenu-a-borderColor: #282C34;

@header-logo-text-color: #7996cf;

@header-buttons-color: @white-gray-color;
@header-buttons-bgColor: transparent;
@header-buttons-dsgn-bgColor: @white-gray-color;
@header-buttons-dsgn-boxShadowColor: #181a1f;
@header-buttons-dsgn_hover-bgColor: transparent;
@header-buttons-contact-form_after-color: @white-gray-light-color;

@header-input-color: @body-color;

@footer-upbottom-color: @white-gray-light-color;
@footer-upbottom-bgColor: @header-bgColor;
@footer-touchevents-buttonToUp-color: @a-color;

@simple-tooltip-color: #fff;
@simple-tooltip-bgColor: rgba(34, 37, 44, 0.97);
@simple-tooltip-boxShadowColor: #fff;

@z3_modal-bgColor: rgba(24, 26, 31, 0.99);
@z3_modal-buttonClose-color: @red-color;
@z3_modal-innerDiv-bgColor: #282C34;
@z3_modal-innerDiv-boxShadowColor: none;
@z3_modal-innerDiv-a-color: @body-color;

@form_field-label_before-color: #d02000;
@form_field_error-input-boxShadowColor: #542121;
@form_field_error-inputPlaceholder-color: #c14a51;

@sticky-bgColor: @body-bgColor;

// @webkit-scrollbar-track-bgColor: @body-bgColor;
@webkit-scrollbar-track-bgColor: transparent;
// @webkit-scrollbar-track_hover-bgColor: darken(@body-bgColor, 15%);
@webkit-scrollbar-track_hover-bgColor: transparent;
@webkit-scrollbar-thumb-color: #3D4350;
@webkit-scrollbar-thumb_hover-color: @gray-color;
// @todo: change -webkit-scrollbar-thumb:hover color to darker then 777; - darken(@webkit-scrollbar-thumb-color, 5-15%)
@ff-scrollbar-track-bgColor: @webkit-scrollbar-track-bgColor;
@ff-scrollbar-thumb-color: @webkit-scrollbar-thumb-color;
// main.less /z


// blog.less
// blogList
@blog_cutom_img-bgColor: @rgba-black_075;

@blog-icons_before-color: @gray-color;

@blogList-h2-a-color: @a1-color;
@blogList-h2-a_hover-color: @a1_hover-color;
@blogList-h2-a_visited-color: #bcbcbc;

@only_links_blogList-h2-a-color: #bcbcbc;
@only_links_blogList-h2-a_hover-color: @a1-color;
@only_links_blogList-h2-a_visited-color: #999;
@only_links_blogList-intro_text-color: #ccc;
@only_links_blogList-intro_text-bgColor: #21252B;
@only_links_blogList-intro_text-boxShadowColor: #3D4350;

@blog_tags-a-color: @green-neutral-color;
@blog_tags-a_hover-color: @green-neutral_hover-color;

@pagination-page_count: @gray-light-color;
@pagination-current: @gray-light-color;

// fullArticle
@fullArticle-image-figcaption-color: #ccc;
@fullArticle-image-figcaption-bgColor: rgba(24, 29, 38, 0.9);

@fullArticle-vote_star-color: rgba(92, 99, 112, 0.5);

@searchResultsHighlight: #3D4350;

// newsflash ajax cards on main page
@newsflash-li-bgColor: #21252B;
@newsflash-li-boxShadowColor: rgba(0,0,0,.3);
@newsflash-li_hover-boxShadowColor: #181a1f;
@newsflash-h3-color: @body-color;
@newsflash-h3-textShadowColor: #000;
@newsflash-additionalInfoLabels-color: #c9c9c9;
@newsflash-additionalInfoLabels-bgColor: rgba(40, 44, 52, 0.7);
// blog.less /z


// cms.less
@jform-label-color: lighten(@a-color, 20%);

@red-jbutton-color: #c14a51;
@green-jbutton-color: #7fa169;

@joomla-icon-btn-primary-color: @button-color;
// cms.less /z

// logged.less
@profile_fields-legend-bgColor: mix(@a-color, @body-bgColor, 35%);
// logged.less /z