// white theme vars

// rgba variables
@rgba-black_02: rgba(0, 0, 0, 0.2);
@rgba-black_03: rgba(0, 0, 0, 0.3);
@rgba-black_05: rgba(0, 0, 0, 0.5);
@rgba-black_065: rgba(0, 0, 0, 0.65);
@rgba-black_07: rgba(0, 0, 0, 0.7);
@rgba-black_075: rgba(0, 0, 0, 0.75);
@rgba-black_08: rgba(0, 0, 0, 0.8);

@rgba-white_075: rgba(255,255,255,.75);


@red-color: #e61b1b;

@green-color: #080;
@green-neutral-color: #639d8a;
@green-neutral_hover-color: #3f9176;

@gray-color: #777;
@gray-light-color: #999;

@white-gray-color: #ccc;
@white-gray-1-color: #ddd;
@white-gray-light-color: #eee;


@red-error-color: @red-color;
@red-icon-color: #c14a51;
@red-button-color: #c14a51;
@green-icon-color: #4bae4f;
@green-button-color: @green-icon-color;
// variables
// normalize.less

@body-color: #181a1f;
@body-bgColor: #fefefe; // #282C34 - ST3 OneDark bg
@body1-color: #eee; // little lighter

// @a-color: #3367d6;
@a-color: #2451b2;
// @a_hover-color: #2f5dc0;
@a_hover-color: darken(@a-color, 7.5%);
// @a1-color: #2451b2;
@a1-color: darken(@a-color, 5%);
@a1_hover-color: darken(@a1-color, 10%);

@button-color: @body-bgColor;
@button_hover-color: @a_hover-color;
@button-bgColor: #3367d6;
@button_hover-bgColor: #2f5dc0;
@button_active-bgColor: #2051b9;
// @button-boxShadowColor: none;
@button-boxShadowColor: 0 0.1em 0.3em darken(@button-bgColor, 50%);
// @button_hover-boxShadowColor: none;
@button_hover-boxShadowColor: 0 0.25em 0.5em darken(@button-bgColor, 40%);
// @button_active-boxShadowColor: 0 0 0.5em #2051b9;
@button_active-boxShadowColor: 0 0 0.3em darken(@button-bgColor, 40%);
@button_disabled-color: inherit;

@input-color: @body-color;
@input-bgColor: @body-bgColor;
@input-boxShadowColor: #5C6370;
@input_hover-boxShadowColor: #5C6370;

@checkbox-color: #3367d6;
@checkbox_active-color: #4bae4f;

@select-color: @body-color;
@select-bgColor: @input-bgColor;
@select_focus-boxShadowColor: #5C6370;

@blockquote-borderColor: #70b4b3;

@mark-color: @body-color;
// @mark-bgColor: #91aa32;
@mark-bgColor: #70b4b3;

@code-color: #cecece;
@code-bgColor: #282C34;
@pre-borderColor: @rgba-black_05;
// normalize.less /z


// main.less

@system-message-bgColor: #111;
@alert-color: @red-color;

@header-bgColor: #3D4350;
@header-menu-a-color: #ddd;
@header-menu-a_hover-bgColor: rgba(24, 26, 31, 0.9);
@header-menu-li-borderColor: @header-menu-a_hover-bgColor;
@header-menu-hide_ul-bgColor: rgba(61, 67, 80, 0.98);
@header-menu-hide_ul-boxShadowColor1: #5C6370;
@header-menu-hide_ul-boxShadowColor2: #000;
@header-menu-hide_ul-li-borderColor: @header-menu-li-borderColor;

@body-mobileMenu_open-bgColor: @rgba-black_08;
@mobileMenu-buttonClose-color: @red-color;
@mobileMenu-bgColor: #181a1f;
@mobileMenu-boxShadowColor: @header-menu-hide_ul-boxShadowColor1;
@mobileMenu-a-borderColor: #282C34;

@header-logo-text-color: #7996cf;

@header-buttons-color: #ddd;
@header-buttons-bgColor: transparent;
@header-buttons-dsgn-bgColor: #282C34;
@header-buttons-dsgn-boxShadowColor: #ccc;
@header-buttons-dsgn_hover-bgColor: #282C34;
@header-buttons-contact-form_after-color: @white-gray-light-color;

@header-input-color: #ddd;

@footer-upbottom-color: @white-gray-light-color;
@footer-upbottom-bgColor: @header-bgColor;
@footer-touchevents-buttonToUp-color: @a-color;

@simple-tooltip-color: #fff;
@simple-tooltip-bgColor: rgba(34, 37, 44, 0.97);
@simple-tooltip-boxShadowColor: #fff;

@z3_modal-bgColor: rgba(247,247,247,.96);
@z3_modal-buttonClose-color: @red-color;
@z3_modal-innerDiv-bgColor: #f7f7f7;
@z3_modal-innerDiv-boxShadowColor: 0 0 15px #2f5dc0;
@z3_modal-innerDiv-a-color: @a-color;

@form_field-label_before-color: #d02000;
@form_field_error-input-boxShadowColor: #542121;
@form_field_error-inputPlaceholder-color: #c14a51;

@sticky-bgColor: @body-bgColor;

// @webkit-scrollbar-track-bgColor: @body-bgColor;
@webkit-scrollbar-track-bgColor: transparent;
// @webkit-scrollbar-track_hover-bgColor: darken(@body-bgColor, 15%);
@webkit-scrollbar-track_hover-bgColor: transparent;
@webkit-scrollbar-thumb-color: #3D4350;
@webkit-scrollbar-thumb_hover-color: @gray-color;

@ff-scrollbar-track-bgColor: @webkit-scrollbar-track-bgColor;
@ff-scrollbar-thumb-color: @webkit-scrollbar-thumb-color;
// main.less /z


// blog.less
// blogList
@blog_cutom_img-bgColor: @rgba-white_075;

@blog-icons_before-color: @gray-color;

@blogList-h2-a-color: @a-color;
@blogList-h2-a_hover-color: @a_hover-color;
@blogList-h2-a_visited-color: @body-color;

@only_links_blogList-h2-a-color: @body-color;
@only_links_blogList-h2-a_hover-color: @a_hover-color;
@only_links_blogList-h2-a_visited-color: #888;
@only_links_blogList-intro_text-color: #ccc;
@only_links_blogList-intro_text-bgColor: #21252B;
@only_links_blogList-intro_text-boxShadowColor: #3D4350;

// @blog_tags-a-color: #008358;
@blog_tags-a-color: #006621;
@blog_tags-a_hover-color: darken(@blog_tags-a-color, 5%);

@pagination-page_count: @gray-light-color;
@pagination-current: @gray-light-color;

// fullArticle
@fullArticle-image-figcaption-color: #ccc;
@fullArticle-image-figcaption-bgColor: rgba(24, 29, 38, 0.9);

@fullArticle-vote_star-color: rgba(92, 99, 112, 0.5);

@searchResultsHighlight: #BBBCBE;

// newsflash ajax cards on main page
@newsflash-li-bgColor: #fff;
@newsflash-li-boxShadowColor: rgba(0,0,0,.3);
@newsflash-li_hover-boxShadowColor: #181a1f;
@newsflash-h3-color: @body-color;
@newsflash-h3-textShadowColor: none;
@newsflash-additionalInfoLabels-color: #c9c9c9;
@newsflash-additionalInfoLabels-bgColor: rgba(40, 44, 52, 0.7);
// blog.less /z


// cms.less
@jform-label-color: darken(@a-color, 20%);

@red-jbutton-color: #c14a51;
@green-jbutton-color: #41b245;

@joomla-icon-btn-primary-color: @button-bgColor;
// cms.less /z

// logged.less
@profile_fields-legend-bgColor: mix(@a-color, @body-bgColor, 35%);
// logged.less /z