@font-face {
    font-family: 'zopa';
    src: url('fonts/zopa.eot');
    src: url('fonts/zopa.eot') format('embedded-opentype'),
         url('fonts/zopa.woff2') format('woff2'),
         url('fonts/zopa.woff') format('woff'),
         url('fonts/zopa.ttf') format('truetype'),
         url('fonts/zopa.svg#zopa') format('svg');
}
