.form_signin input,
.form_signup input{
	width: 100%;
}

#header > div{
	padding: 0 1em;
}
.user_menu{
	position: relative;
}
.user_menu_hiden{
	position: absolute;
	right: 0;
	left: unset;
	white-space: nowrap;
	top: 100%;
	background: #fff;
	padding: 0.75em;
	opacity: 0;
	visibility: hidden;
	box-shadow: 0 0.25em 0.5em #555;
	transition: all 0.3s;
}
.user_menu:hover .user_menu_hiden{
	opacity: 1;
	visibility: visible;
}
#t131{
	position: relative;
}
main{
	max-width: 85%;
}



.menu_left{
	position: fixed;
	top: 2.4rem;
	bottom: 0;
	left: 0;
	font-size: 1.2em;
	padding: 2em 1em 1em;
	background-color: #fff;
	box-shadow: 0 0 0.25em #555;
	overflow: hidden;
	z-index: 5;
}
.menu_left li {
	margin: 1em 0;
}
.menu_left a::before{
	font-size: 1.5em;
	color: #092664;
	z-index: 2;
	transition: all 0.3s;
}
.menu_left a:hover::before{
	transform: scale(1.2);
}
.menu_left a>span{
	margin-left: 0.25em;
	color: #333;
}
.menu_left.mini a>span{
	display: none;
}
.menu_left .menu_left_toogle:hover{
	text-shadow: 0 0 0.2em #092664;
}
.menu_left .menu_left_toogle{
	position: absolute;
	top: 0;
	right: 0;
	padding-right: 0.25em;
	background: unset;
	box-shadow: unset;
	color: #333;
}
.menu_left.mini .menu_left_toogle::before{
	content: '\e011';
}

@media (max-width:1400px) {
	.menu_left{
		padding-top: 1em;
	}
	.menu_left a>span,
	.menu_left_toogle{
		display: none;
	}
}

.chat_form{
	display: flex;
}
.chat_form input,
.chat_form button{
	/* line-height: 1em; */
	font-size: 1em;
	flex: 2 1;
}
.chat_log{
	max-height: 50vh;
	max-width: 500px;
	font-size: 0.75em;
	margin: 1em 0;
	padding: 0.5em;
	border: 2px solid #000;
	overflow: auto;
}
.chat_log > div{
	margin: 0.25em 0;
}

.timer{
	font-size: 0.75em;
}
.timer_time{
	padding: 0.25em;
	border:  1px solid #555;
}