/* custom module with blog categorie header description */
#blog-img {
  margin: -2.3rem 0 0;
}
.blog_cutom_img {
  position: relative;
}
.blog_cutom_img::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
}
.blog_cutom_img img {
  width: 100%;
  display: block;
  height: 225px;
}
/*
#blog-img+#t131>main>.blog{
	margin-top: 2em;
}
*/
/* custom module with blog categorie header description /z*/
/* blog - article listing */
.blog .cat_desc_block {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 -0.7rem 7vh;
  padding: 1em 5%;
  min-height: 200px;
  background-size: 100%;
}
.cat_desc_block::before {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.65);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
.cat_desc_abs {
  position: absolute;
  top: 2.3rem;
}
.blog .cat_desc_abs h1 {
  padding: 0.5em 0 0.1em;
}
.cat_info {
  z-index: 1;
}
.blog h1 {
  font-size: 1.6em;
  line-height: 1.2;
  padding: 0 0 0.5em;
  text-align: initial;
}
.tag ul.items {
  padding: 0;
  margin: 0;
}
.cat_desc {
  font-size: 0.9em;
}
.blog .item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 2em;
}
.blog h2,
.blog h3 {
  padding: 0;
  text-align: initial;
  font-size: 1.2em;
  line-height: 1.1;
}
.blog h2 > a,
.blog h3 > a {
  display: inline;
  color: #2451b2;
}
.blog h2 > a:visited,
.blog h3 > a:visited {
  color: #181a1f;
}
.blog h2 > a:hover,
.blog h3 > a:hover,
.blog h2 > a:visited:hover,
.blog h3 > a:visited:hover {
  color: #1e4392;
}
.item_img {
  position: relative;
  order: 2;
  flex: 0 1;
  width: 250px;
  height: 250px;
  min-width: 250px;
  min-height: 250px;
  margin: 0 0 0 0.5em;
  overflow: hidden;
}
.item_img img {
  object-fit: cover;
  transition: linear transform 0.4s;
}
.item_img:hover img {
  transform: scale(1.3);
}
.item_img > .desc_info {
  position: absolute;
  color: #eee;
  background: rgba(0, 0, 0, 0.8);
  font-size: 0.8em;
  padding: 0.5em;
  text-align: center;
  right: 0;
  left: 0;
  top: 0;
  transform: translateY(-101%);
  transition: transform 0.4s;
}
.item_img:hover > .desc_info {
  transform: translateY(0);
}
.item_img > .desc_info > *::before {
  color: #777;
}
.item_desc {
  flex: 1 1;
}
.item_img > .desc_info > * {
  display: block;
  margin: 0.5em 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.intro_text {
  font-size: 0.9em;
  line-height: 1.2;
  margin: 0.5em 0 0;
  text-align: initial;
  max-height: 3.6em;
  overflow: hidden;
}
.intro_text > p {
  margin: 0;
}
.item_desc_footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item_desc_footer time {
  font-size: 0.75em;
  margin: 0.5em 0.5em 0 0;
  color: #777;
}
/* list of tags */
#tags h2 > a,
#tags h3 > a {
  color: #006621;
}
#tags h2 > a:hover,
#tags h3 > a:hover {
  color: #004d19;
}
#tags .item_img {
  order: 0;
  margin: 0 0.5em 0 0;
}
#tags .item_desc {
  margin: 0 0.5em 0 0;
}
#tags .item_desc_footer {
  display: none;
}
/* full article */
.article_info {
  display: inline-block;
  margin: 0;
}
.article_info .i_eye::before {
  padding: 0;
}
ul.blog_tags {
  font-size: 0.8em;
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.blog_tags > li {
  display: inline-block;
  margin: 0.5em 0.75em 0 0;
}
.blog_tags a {
  display: inline-flex;
  padding: 0.1em 0;
  white-space: nowrap;
  text-transform: uppercase;
  color: #006621;
  transition: visibility 0.25s, opacity 0.25s, transform 0.25s, color 0.25s, background-color 0.25s, box-shadow 0.25s;
}
.blog_tags a:hover {
  color: #004d19;
  transform: scale(1.1);
}
.blog_tags a::before {
  content: '#';
  margin-right: 0.2em;
  color: #777;
}
/* pagination */
/*hide on ajax items*/
.items_container + .items_container .pagination {
  display: none;
}
/*hide on ajax items /z*/
.pagination {
  margin: 0 0 2em;
}
.page_count {
  text-align: center;
  margin: 0.5em;
  color: #999;
}
.pagination ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.pagination a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  width: 1.6em;
  height: 1.6em;
  margin: 0.3em;
}
.pag_num > a {
  border: 1px solid;
}
.pagination a::before {
  display: inline-block;
  font-family: icons;
  font-style: normal;
  padding: 0;
  transition: transform 0.5s;
}
.pag_start > a:hover,
.pag_end > a:hover,
.pag_prev > a:hover,
.pag_next > a:hover {
  transform: scaleX(1.5);
}
.pag_start > a::before {
  content: '\e010\e010';
}
.pag_prev > a::before {
  content: '\e00c';
}
.pag_next > a::before {
  content: '\e00d';
}
.pag_end > a::before {
  content: '\e012\e012';
}
.pag_active {
  border: 1px solid;
  margin: 0.5em;
  color: #999;
  transform: rotate(45deg);
}
.pag_active > span {
  margin: 0;
  font-size: 1.3em;
  width: 1.3em;
  height: 1.3em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-45deg);
}
/* pagination /z*/
.full_cat_desc {
  font-size: 0.85em;
}
/* blog - article listing /z*/
/*blog design*/
.blg_dsgn {
  text-align: center;
  margin: 0.5em 0;
}
.blg_dsgn > .blg_dsgn-btn {
  color: #2451b2;
  display: inline-block;
  margin: 0 0.5em;
  padding: 0 0.25em;
  background-color: transparent;
  box-shadow: none;
}
.blg_dsgn > .blg_dsgn-btn:hover {
  transform: scale(1.3);
}
.blg_dsgn > .blg_dsgn-btn > i {
  display: none;
}
.only_links .i_design::before {
  content: '\e037';
}
.only_links .items_container,
.only_links .featured_items {
  margin: 0 2.5% 0;
  font-size: 0.9em;
}
.only_links .item {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 1em;
}
.only_links .item_desc {
  order: 1;
  position: relative;
}
.only_links .blog h2,
.only_links .blog h3 {
  display: inline-block;
}
.only_links .blog h2 > a,
.only_links .blog h3 > a {
  color: #181a1f;
}
.only_links h2 > a:visited,
.only_links h3 > a:visited {
  color: #888;
}
.only_links h2 > a:hover,
.only_links h3 > a:hover {
  color: #1e4392;
}
.only_links .intro_text {
  position: absolute;
  bottom: 110%;
  max-height: unset;
  font-size: 0.9em;
  padding: 0.5em;
  color: #ccc;
  background-color: #21252B;
  box-shadow: 0 0 0.25em #3D4350;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s linear 0.1s;
}
.no-touchevents .only_links .item_desc h2:hover + .intro_text,
.no-touchevents .only_links .item_desc h3:hover + .intro_text {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s linear 0.4s;
}
.only_links .item_img,
.only_links .item_desc_footer,
.only_links ul.blog_tags,
.only_links time.i_calendar1::before {
  display: none;
}
/*blog design /z*/
/* full article */
.article_image {
  text-align: center;
}
.article_image img {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.article_image figure {
  display: inline-block;
}
.article_image figcaption {
  color: #ccc;
  background-color: rgba(24, 29, 38, 0.9);
  padding: 0.3em;
}
.full_article h1 {
  font-size: 1.3em;
  line-height: 1.2;
  margin: 0 auto;
}
.full_article .blog_tags {
  display: block;
  text-align: center;
}
.full_article_info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 0.8em;
  color: #777;
  padding: 1.5em 0 0;
}
.full_article_info a::before {
  color: #777;
}
.full_article_info > .jtt::before {
  font-size: 1.2em;
  padding: 0;
}
.full_article_info > .i_eye::before {
  font-size: 1.1em;
}
#articlebody {
  max-width: 1024px;
  margin: 1em auto;
  word-wrap: break-word;
}
.category_name,
.category_name > a.i_folder_::before {
  font-size: 1.15em;
}
.category_name > a {
  display: inline-flex;
  align-items: center;
}
.category_name > a::before {
  font-size: 0.8em;
  padding: 0 0.1em 0 0;
  color: #777;
}
.article_pagenav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}
.article_pagenav .previous > a::before,
.article_pagenav .next > a::after {
  display: inline-block;
  font-family: icons;
  font-style: normal;
  line-height: 1.1;
  padding: 0 0.3em;
  transition: transform 0.5s;
}
.article_pagenav .previous > a:hover::before,
.article_pagenav .next > a:hover::after {
  transform: rotateX(180deg);
}
.article_pagenav .previous > a::before {
  content: '\e004';
}
.article_pagenav .next > a::after {
  content: '\e005';
}
#articlebody img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  cursor: zoom-in;
}
/*z3w@todo make error in http://refresh-sf.com */
.full_article img:-webkit-full-screen {
  cursor: zoom-out !important;
  width: 100%;
  height: auto;
  object-fit: contain;
  background-color: #fefefe;
}
.full_article img:-moz-full-screen {
  cursor: zoom-out !important;
  background-color: #fefefe;
}
.full_article img:-ms-fullscreen {
  cursor: zoom-out;
  width: auto;
  object-fit: contain;
  background-color: #fefefe;
}
.full_article img:fullscreen {
  cursor: zoom-out;
  width: auto;
  object-fit: contain;
  background-color: #fefefe;
}
/*z3w@todo make error in http://refresh-sf.com /z*/
/* full article /z*/
/*************** article voting  */
.art_bottom {
  margin: 0.5em 0 0;
}
#art-vote,
.category_name,
.voting {
  margin: 0.3em 1%;
  position: relative;
}
/*EPC voting*/
.voting_response {
  position: absolute;
  bottom: 115%;
  left: -10%;
  width: 120%;
  text-align: center;
  font-size: 0.6em;
  line-height: 1.1;
  color: #4bae4f;
  background-color: #fefefe;
}
.voting_response .error {
  color: #e61b1b;
}
.voting button {
  position: relative;
  display: inline-block;
  box-shadow: none;
  font-size: 2em;
  padding: 0;
  margin: 0;
  color: #4bae4f;
  background-color: transparent;
}
.voting .voting_down {
  color: #c14a51;
}
/*EPC voting /z*/
.content_rating,
.voting_stars {
  display: inline-block;
}
.vote_star {
  display: inline-block;
  cursor: pointer;
  font-size: 1.4em;
  line-height: 1;
  margin: 0;
  padding: 0;
}
.vote_star::before,
.vote_star1::before {
  content: '\e01b';
  display: inline-block;
  font-family: icons;
  font-style: normal;
  line-height: 1.1;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.blue,
.voting_stars:hover .vote_star,
.voting_stars .vote_star:hover {
  color: #2451b2;
}
.white {
  color: #ccc;
}
.green {
  /* color: #4bae4f; */
  color: #4bae4f;
}
.vote_star.white,
.voting_stars .vote_star:hover ~ .vote_star {
  color: rgba(92, 99, 112, 0.5);
}
#response-vote {
  visibility: hidden;
  position: absolute;
  display: inline-flex;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  font-size: 0.75em;
  line-height: 1;
  transform: rotateX(-90deg);
  transition: transform 0.3s linear 1s;
}
.has_vote #response-vote {
  visibility: visible;
  transform: rotateX(0deg);
}
#response-vote .vote_star {
  cursor: auto;
}
.voting_stars {
  transition: transform 0.3s linear;
}
.has_vote .voting_stars {
  transform: rotateX(90deg);
}
/*************** article voting  /z*/
/* ekerlab EPC */
.epc-spinner {
  position: relative;
  display: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  vertical-align: middle;
  border-top: 3px solid rgba(255, 255, 255, 0.2);
  border-right: 3px solid rgba(255, 255, 255, 0.2);
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
  border-left: 3px solid #ccc;
  transform: translateZ(0);
  animation: spin 0.9s infinite linear;
}
button .epc-spinner,
btn .epc-spinner {
  margin-left: 0.5em;
  text-align: center;
}
/* ekerlab EPC /z*/
/*************** article comments */
.comments h3 {
  margin-bottom: 0.5em;
}
.comments h3::before {
  color: #777;
}
.comments_form {
  padding: 0.5em 0 1em;
}
.comments_form .form_field {
  position: relative;
  margin: 0.75em 0;
}
.comments_form .form_field-submit {
  text-align: center;
}
.comments_form .form_field-textarea textarea {
  min-height: 5em;
  resize: vertical !important;
}
.comments_form .form_field-textarea .i_fw {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.1em 0;
  background-color: transparent;
  box-shadow: none;
  z-index: 2;
}
/*
.comments_response{
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	text-align: center;
}
*/
.comments_list {
  padding: 1em 2%;
  list-style: none;
}
.comments_list > li {
  position: relative;
  max-width: 100%;
  font-size: 0.95em;
  margin-bottom: 0.5em;
  padding: 1em 0 0.5em;
}
.comments_list > li::before,
.c_epc .tooltipster-box li.comment::before {
  position: absolute;
  top: 0;
  right: 99.5%;
  font-size: 0.9em;
  color: #777;
}
.c_epc .tooltipster-box li.comment::before {
  top: unset;
  bottom: 100%;
  font-size: 1.5em;
  text-shadow: 0 0 0.1em #000;
}
.comment_level-1 {
  margin-left: 5%;
}
.comment_level-2 {
  margin-left: 10%;
}
.comment_level-3,
.comments_list li.i_comments1 {
  margin-left: 15%;
}
.c_epc .tooltipster-box li.comment {
  margin-left: 0;
  list-style: none;
}
.comment_header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
}
.comment {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.comment a,
.tooltipster-base .comment a {
  color: #20479d;
}
.comment .i_user {
  margin-right: 0.5em;
}
.comment .i_user::before {
  color: #777;
}
.tooltipster-base .comment .i_user::after {
  display: none;
}
.comment.subscribed:hover .i_user::before {
  color: #4bae4f;
}
.comment time {
  margin-left: 0.15em;
  color: #777;
}
.comments_parent-reply > .jtt-html,
.comments_parent-reply > a {
  margin-right: 0.25em;
  text-decoration-color: #20479d;
  cursor: pointer;
}
.comment_content {
  width: 100%;
  max-width: 100vw;
  font-size: 0.95em;
  margin: 0.5em auto;
  overflow-y: hidden;
  overflow-x: auto;
}
.comment_reply_to {
  font-size: 0.9em;
  margin: 0.25em 0 0;
}
.comment_reply_to > span {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.comment:hover .comment_reply_to > span,
.comment_reply_to.active > span {
  visibility: visible;
  opacity: 1;
}
.comments_form:fullscreen {
  padding: 1em 5%;
  background-color: #fefefe;
  overflow-x: auto;
  z-index: 1;
}
.comments_form:fullscreen > * {
  max-width: 100%;
}
.comments_form:fullscreen .form_field-textarea {
  margin-bottom: 2em;
}
.comments_form:fullscreen textarea {
  padding: 0.5em;
}
.comments_form:fullscreen .i_ok {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #3367d6;
  z-index: 1;
}
.comments_form:fullscreen .comments_response {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.comments_form:fullscreen .comments_form-fullscreen {
  position: fixed;
  transform: unset;
}
.comments_form:fullscreen .comments_form-fullscreen::before {
  content: '\e00b';
}
/*************** article comments /z*/
/************** com_search */
.search {
  text-align: center;
}
.search > form {
  display: inline-block;
  margin: 1em 0 0;
}
.search > form > fieldset {
  display: inline-block;
}
.search > form .controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#search-searchword {
  width: 100%;
  margin: 1em 0;
}
.search label {
  display: inline-block;
  margin: 0.5em 0.75em;
  white-space: nowrap;
}
.search input[type="radio"] {
  margin-right: 0.25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.search .ordering-box {
  margin-top: 0.75em;
}
.black_tag {
  background-color: #BBBCBE;
  padding: 0.1em 0.3em;
}
.search-results {
  text-align: initial;
}
.search-results > hr {
  margin: 0 0 1em;
}
.search-results .highlight {
  background-color: #BBBCBE;
}
.result-text {
  font-size: 0.9em;
  line-height: 1.2;
}
.result-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 0.8em;
  color: #777;
  padding: 0;
  margin: 0;
}
/************** com_search /z*/
/************** com_content archive */
.archive h1 {
  font-size: 1.5em;
  padding-bottom: 0;
}
.archive > form input,
.archive > form select,
.archive > form button {
  margin: 0.5em;
}
.archive .archive-results {
  margin-top: 1em;
}
.archive .result-text {
  margin: 0;
}
/************** com_content archive /z*/
/************** mod_search */
.hdr_search {
  display: flex;
  height: 100%;
}
.search_input[type="search"] {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  font-size: 1.25em;
  padding: 0 2.2em 0 0.5em;
  opacity: 0;
  visibility: hidden;
}
.hdr_search .i_search {
  position: relative;
  margin-right: 0;
  padding: 0 0.25em;
  z-index: 1;
}
.hdr_search .i_search:hover,
.hdr_search .i_search:focus {
  transform: unset;
  box-shadow: none;
}
.hdr_search .i_search::before {
  padding: 0;
  transition: transform 0.3s;
}
.hdr_search .i_search:hover::before {
  transform: scale(1.25);
}
.hdr_search .search_input:focus,
.hdr_search:hover .search_input {
  opacity: 1;
  visibility: visible;
}
/************** mod_search /z*/
/************** mod_articles_categories, mod_menu in sidebar  */
/************** mod_tags_popular  */
.all_cats,
.tagspopular {
  text-align: center;
}
.all_cats ul,
.tagspopular ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.all_cats > ul,
.tagspopular > ul {
  display: inline-block;
  text-align: initial;
  font-size: 1.2em;
  margin: 1em 0 0;
}
.all_cats li,
.tagspopular li {
  margin: 0 0 0.75em;
  list-style: none;
}
.tagspopular li {
  margin: 0 0 0.5em;
}
.tagspopular > ul > li ul,
.all_cats > ul > li ul {
  padding: 0.5em 0 0 0.5em;
}
.all_cats a {
  position: relative;
  color: #20479d;
}
.all_cats a:hover {
  color: #173472;
}
.all_cats a::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #1e4392;
  transform: scale(0, 1);
  transform-origin: 100% 0;
  transition: transform 0.3s;
}
.all_cats a:hover::before {
  transform: scale(1);
  transform-origin: 0 0;
}
.all_cats .active > a::before {
  content: unset;
}
.tagspopular a {
  font-size: 0.86em;
  color: #006621;
  text-transform: uppercase;
  transition: visibility 0.3s, opacity 0.3s, transform 0.3s, color 0.3s, background-color 0.3s, box-shadow 0.3s;
}
.tagspopular a::before {
  content: '#';
  margin-right: 0.2em;
  padding: 0;
  color: #777;
  transition: transform 0.3s, color 0.3s;
}
.tagspopular a:hover {
  color: #004d19;
}
.tagspopular a:hover::before {
  color: #181a1f;
  transform: scale(1.2);
}
.all_cats .active > a,
.tagspopular .active > a {
  color: #181a1f;
  border-bottom: 1px solid;
}
/************** mod_tags_popular  /z*/
/************** mod_articles_categories, mod_menu in sidebar  /z*/
/************** mod_articles_news  */
.news_cards > h1,
.news_cards > h2 {
  font-size: 1.3em;
  padding: 0.67em 0 0.5em;
}
.newsflash {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.newsflash > div,
.newsflash > li {
  display: flex;
  position: relative;
  width: 22.5%;
  margin: 0.5em;
  background-color: #fff;
  box-shadow: 0 0.125em 0.2em 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: box-shadow 0.25s, transform 0.25s;
}
.newsflash > div:hover,
.newsflash > li:hover {
  box-shadow: 0 0.1em 0.4em #181a1f;
  transform: scale(1.075);
  z-index: 1;
}
.touchevents .newsflash > div:hover,
.touchevents .newsflash > li:hover {
  transform: unset;
}
.newsflash .lz {
  position: relative;
  width: 100%;
  height: 225px;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  transition: background-size 0.3s;
}
.news_link {
  width: 100%;
}
.newsflash h3 {
  font-size: 0.9em;
  line-height: 1.2;
  padding: 0.25em 0.25em 0.35em;
  color: #181a1f;
  text-shadow: 0 0 0.15em none;
}
.newsflash .news_item_cat,
.newsflash time,
.newsflash .i_eye {
  position: absolute;
  font-size: 0.6em;
  line-height: 1.5;
  padding: 0.1em 0.5em;
  color: #c9c9c9;
  background-color: rgba(40, 44, 52, 0.7);
}
.newsflash .news_item_cat {
  top: 0;
  right: 0;
}
.newsflash .news_item_cat:hover {
  color: #20479d;
}
.newsflash time {
  bottom: 0;
  left: 0;
}
.newsflash .i_eye {
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.65);
  transform: translate(100%, 100%);
  transition: transform 0.3s;
}
.newsflash > div:hover .i_eye,
.newsflash > li:hover .i_eye {
  transform: none;
}
/************** mod_articles_news  /z*/
/************** mod_breadcrumbs  */
.breadcrumb > ol {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
  margin: 0;
}
.breadcrumb li {
  display: inline-flex;
  align-items: center;
  margin: 0 0.2em 0 0;
}
.breadcrumb a {
  margin: 0 0.2em 0 0;
  line-height: 1;
  color: #20479d;
}
.breadcrumb .path.p_1 > a {
  width: 2.5em;
  height: 2.5em;
  background-image: url('/_img/logo.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.breadcrumb .path.p_1 > a:hover {
  transform: scale(1.3);
}
.breadcrumb .path.p_1 > a::before,
.breadcrumb .i_chev_r::after {
  display: inline-block;
  font-family: icons;
  font-style: normal;
  line-height: 1.1;
  padding: 0 0.1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.breadcrumb .path.p_1 > a::before {
  font-size: 1.5em;
}
.breadcrumb .i_chev_r::before {
  content: '';
}
.breadcrumb .i_chev_r::after {
  content: '\e011';
  color: #999;
}
.breadcrumb .path.p_1 span {
  display: none;
}
/************** mod_breadcrumbs  /z*/
/************** mod_related_items  */
.relateditems {
  text-align: center;
  margin: 0.75em 0;
}
.relateditems > p {
  margin: 0;
  text-align: initial;
}
.relateditems > ul {
  display: inline-block;
  text-align: initial;
  list-style: none;
  padding: 0;
}
.relateditems li {
  margin: 0 0 0.5em;
}
.relateditems a {
  color: #20479d;
  line-height: 1.2;
}
.relateditems time {
  font-size: 0.8em;
  color: #777;
}
/************** mod_related_items  /z*/
/* @todo - показать при нормальной посещаемости, т.е. просто убрать это правило */
.newsflash .i_eye,
.desc_info > .i_eye,
.item_img > .desc_info,
.full_article_info > .i_eye {
  display: none;
}
/* @todo - показать при нормальной посещаемости, т.е. просто убрать это правило /z*/
#blog,
#tags,
#tag,
.main_responsive {
  max-width: 1400px;
  margin: 0 auto;
}
.blog_header {
  position: relative;
  margin: 0.5em 0;
}
.blog_header .short_desc,
.blog_header .cat_desc {
  font-size: 0.8em;
  line-height: 1.3;
}
.blog_header h1 {
  font-size: 1.6em;
  line-height: 1.2;
  padding: 0;
  text-align: initial;
}
.blog_header .short_desc p {
  margin: 0;
}
.blog_header .accordion-btn {
  background-color: transparent;
  cursor: pointer;
}
.blog_header .cat_desc {
  clear: both;
}
.blog_header .cat_desc img {
  max-width: 100%;
}
/* article content styles */
#articlebody a {
  display: inline;
}
#articlebody b,
#articlebody strong {
  display: inline;
}
/*
#articlebody time::before{
	content: '\e02a';
	margin-right: 0.25em;
	color: #70b4b3;
}
*/
#articlebody iframe {
  width: 640px;
  height: 360px;
  display: block;
  margin: 0 auto;
}
/* article content styles /z*/
/********************************** @media (MIN-width:2240px) */
@media (min-width: 2240px) {
  .newsflash > div,
  .newsflash > li {
    width: 23.5%;
  }
  .newsflash .lz {
    height: 300px;
  }
}
/********************************** @media (MIN-width:2240px) /z*/
/********************************** @media (MIN-width:2000px) */
@media (min-width: 2000px) {
  #articlebody {
    max-width: 1150px;
  }
}
/********************************** @media (MIN-width:2000px) /z*/
/********************************** @media (max-width:1680px) */
@media (max-width: 1680px) {
  .newsflash > div,
  .newsflash > li {
    width: 30%;
  }
  .newsflash h3 {
    line-height: 1.1;
  }
}
/********************************** @media (max-width:1680px) /z*/
/********************************** @media (max-width:1370px) */
@media (max-width: 1370px) {
  .newsflash > div,
  .newsflash > li {
    width: 32%;
    margin: 0.25em;
  }
  .newsflash .lz {
    height: 250px;
    max-height: 45vh;
  }
  .item_img {
    width: 225px;
    height: 225px;
    min-width: 225px;
    min-height: 225px;
  }
  .item_img img[src^="/images/default/"] {
    width: 225px;
    height: 225px;
  }
  #articlebody {
    max-width: 960px;
    padding: 0 1%;
  }
  .comments_list {
    padding: 1em 1.5%;
  }
}
/********************************** @media (max-width:1370px) /z*/
/********************************** @media (max-width:1280px) */
@media (max-width: 1280px) {
  .newsflash > div,
  .newsflash > li {
    /* width: 47.5%; */
    width: 31%;
    margin: 0.5em;
  }
}
/********************************** @media (max-width:1280px) /z*/
/********************************** @media (max-width:1150px) */
@media (max-width: 1150px) {
  .all_cats > ul {
    font-size: 1.5em;
  }
}
/********************************** @media (max-width:1150px) /z*/
/********************************** @media (max-width:1024px) */
@media (max-width: 1024px) {
  .newsflash > div,
  .newsflash > li {
    width: 47.5%;
  }
  .blog h2,
  .blog h3 {
    font-size: 1.2em;
    line-height: 1.15;
    max-height: 3.45em;
    overflow: hidden;
  }
  .item_img {
    width: 200px;
    height: 200px;
    min-width: 200px;
    min-height: 200px;
  }
  .item_img img[src^="/images/default/"] {
    width: 200px;
    height: 200px;
  }
  .full_article_info {
    justify-content: space-between;
    font-size: 0.75em;
    padding-top: 1em;
  }
  .full_article_info .i_calendar1::before,
  .full_article_info .rating,
  .full_article_info .i_comments1,
  .full_article_info .i_eye {
    display: none;
  }
  .relateditems li {
    margin: 0.5em 0 1em;
  }
  .comments_list > li::before,
  .c_epc .tooltipster-box li.comment::before {
    right: 99%;
  }
  .comments_form:fullscreen {
    padding: 1.5em 2.5%;
  }
}
/********************************** @media (max-width:1024px) /z*/
/********************************** @media (max-width:850px) */
@media (max-width: 850px) {
  .newsflash > div,
  .newsflash > li {
    width: 47.5%;
    margin: 0.25em;
  }
  .item_desc .blog_tags {
    display: none;
  }
}
/********************************** @media (max-width:850px) /z*/
/********************************** @media (max-width:770px) */
@media (max-width: 770px) {
  #articlebody ul,
  #articlebody ol {
    padding: 0 0 0 4%;
  }
}
/********************************** @media (max-width:770px) /z*/
/********************************** @media (max-width:700px) */
@media (max-width: 700px) {
  .newsflash > div,
  .newsflash > li {
    width: 100%;
    max-height: 45vh;
    margin: 0.25em 0;
  }
  .newsflash .lz {
    height: 300px;
  }
  .newsflash h3 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100%;
    font-size: 1em;
    padding: 0.25em;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ddd;
  }
  .newsflash .news_item_cat,
  .newsflash time,
  .newsflash .i_eye {
    font-size: 0.7em;
  }
  .newsflash time {
    bottom: unset;
    top: 0;
  }
  .blog .item {
    margin: 0 0 1.25em;
  }
  .blog h2,
  .blog h3 {
    font-size: 1em;
  }
  .intro_text {
    margin: 0.25em 0 0;
  }
  .item_img {
    display: none;
  }
  .item_desc_footer time,
  .blog_tags > li {
    margin: 0.25em 0.25em 0 0;
  }
  #header .search_input {
    display: none;
  }
  .full_article h1 {
    font-size: 1.1em;
    line-height: 1.15;
  }
  #articlebody iframe {
    width: 100%;
  }
  .archive #filter-search {
    width: 100%;
    margin: 0;
  }
}
/********************************** @media (max-width:700px) /z*/
/********************************** @media (max-width:700px) and (orientation:portrait)
tablets - vertical */
/********************************** @media (max-width:700px) and (orientation:portrait)
tablets - vertical /z*/
/********************************** @media (max-width:700px) and (orientation:landscape)
phones - horizontal */
@media (max-width: 700px) and (orientation: landscape) {
  .newsflash > div,
  .newsflash > li {
    width: 100%;
    max-height: 82.5vh;
  }
  .newsflash .lz {
    max-height: 82.5vh;
  }
}
/********************************** @media (max-width:700px) and (orientation:landscape)
phones - horizontal /z*/
/********************************** @media (max-width:450px) */
@media (max-width: 450px) {
  .newsflash .lz {
    height: 250px;
  }
  .art_bottom {
    justify-content: center;
  }
  .category_name {
    order: 1;
    flex: 1 0 100%;
  }
  .article_image {
    margin: 0 -0.25rem;
  }
  #articlebody iframe {
    height: 240px;
  }
  /*************** article voting */
  #art-vote {
    font-size: 1.25em;
  }
  /*************** article voting  /z*/
  .blog_cutom_img img {
    height: 150px;
  }
  .comments_list > li::before,
  .c_epc .tooltipster-box li.comment::before {
    right: 98%;
  }
  h1,
  .h1,
  .blog h1 {
    font-size: 1.5em;
  }
}
/********************************** @media (max-width:450px) /z*/
/********************************** @media (max-width:330px) */
@media (max-width: 330px) {
  .newsflash .lz {
    max-height: 40vh;
  }
}
/********************************** @media (max-width:330px) /z*/
/************** webkit-based browsers (Chrome, Safari, etc.) Hack only *************************/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .touchevents footer .blog_tags a {
    /* padding: 0.4em 0 0.2em */
  }
}
/************** webkit-based browsers (Chrome, Safari, etc.) Hack only ************************ /z*/
/************** Firefox Hack only *************************/
