*[class*="i_"]::before {
  display: inline-block;
  font-family: icons;
  font-style: normal;
  line-height: 1;
  padding: 0 0.1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.i_ok::before {
  content: '\e000';
}
.i_no::before {
  content: '\e001';
}
.i_menu::before {
  content: '\e002';
}
.i_menu1::before {
  content: '\e003';
}
.i_menu_left::before {
  content: '\e004';
}
.i_menu_right::before {
  content: '\e005';
}
.i_grid3::before {
  content: '\e006';
}
.i_grid2::before {
  content: '\e007';
}
.i_dots_v::before {
  content: '\e008';
}
.i_dots_h::before {
  content: '\e009';
}
.i_fw::before {
  content: '\e00a';
}
.i_fw_::before {
  content: '\e00b';
}
.i_arrow_l::before {
  content: '\e00c';
}
.i_arrow_r::before {
  content: '\e00d';
}
.i_arrow_t::before {
  content: '\e00e';
}
.i_arrow_b::before {
  content: '\e00f';
}
.i_chev_l::before {
  content: '\e010';
}
.i_chev_r::before {
  content: '\e011';
}
.i_chev_t::before {
  content: '\e012';
}
.i_chev_b::before {
  content: '\e013';
}
.i_triangle_l::before {
  content: '\e014';
}
.i_triangle_r::before {
  content: '\e015';
}
.i_triangle_t::before {
  content: '\e016';
}
.i_triangle_b::before {
  content: '\e017';
}
.i_checkbox::before {
  content: '\e018';
}
.i_checkbox1::before {
  content: '\e018';
}
.i_checkbox_::before {
  content: '\e019';
}
.i_checkbox1_::before {
  content: '\e01a';
}
.i_star::before {
  content: '\e01b';
}
.i_star1::before {
  content: '\e01c';
}
.i_lock::before {
  content: '\e01d';
}
.i_lock_::before {
  content: '\e01e';
}
.i_eye::before {
  content: '\e01f';
}
.i_eye1::before {
  content: '\e020';
}
.i_eye1_::before {
  content: '\e021';
}
.i_pencil::before {
  content: '\e022';
}
.i_pencil1::before {
  content: '\e023';
}
.i_search::before {
  content: '\e024';
}
.i_search1::before {
  content: '\e025';
}
.i_settings::before {
  content: '\e026';
}
.i_cog::before {
  content: '\e027';
}
.i_cog1::before {
  content: '\e028';
}
.i_cogs::before {
  content: '\e029';
}
.i_clock::before {
  content: '\e02a';
}
.i_clock1::before {
  content: '\e02b';
}
.i_calendar::before {
  content: '\e02c';
}
.i_calendar1::before {
  content: '\e02d';
}
.i_doc::before {
  content: '\e02e';
}
.i_docs::before {
  content: '\e02f';
}
.i_folder::before {
  content: '\e030';
}
.i_folder_::before {
  content: '\e031';
}
.i_folder1::before {
  content: '\e032';
}
.i_folder3::before {
  content: '\e033';
}
.i_folder4::before {
  content: '\e034';
}
.i_design::before {
  content: '\e035';
}
.i_design1::before {
  content: '\e036';
}
.i_design2::before {
  content: '\e037';
}
.i_design3::before {
  content: '\e038';
}
.i_rss::before {
  content: '\e039';
}
.i_rss1::before {
  content: '\e03a';
}
.i_handshake::before {
  content: '\e03b';
}
.i_hand::before {
  content: '\e03c';
}
.i_thumb::before {
  content: '\e03d';
}
.i_thumb_::before {
  content: '\e03e';
}
.i_thumb1::before {
  content: '\e03f';
}
.i_thumb1_::before {
  content: '\e040';
}
.i_hand1::before {
  content: '\e041';
}
.i_hand2::before {
  content: '\e042';
}
.i_thumb2::before {
  content: '\e043';
}
.i_thumb2_::before {
  content: '\e044';
}
.i_send::before {
  content: '\e045';
}
.i_mail::before {
  content: '\e046';
}
.i_mail1::before {
  content: '\e047';
}
.i_mail2::before {
  content: '\e048';
}
.i_contact::before {
  content: '\e049';
}
.i_contact1::before {
  content: '\e04a';
}
.i_tel::before {
  content: '\e04b';
}
.i_tel1::before {
  content: '\e04c';
}
.i_tel1_::before {
  content: '\e04d';
}
.i_tel2::before {
  content: '\e04e';
}
.i_viber::before {
  content: '\e04f';
}
.i_whatsapp::before {
  content: '\e050';
}
.i_skype::before {
  content: '\e051';
}
.i_telegram::before {
  content: '\e052';
}
.i_fb::before {
  content: '\e053';
}
.i_link::before {
  content: '\e054';
}
.i_link1::before {
  content: '\e055';
}
.i_link2::before {
  content: '\e056';
}
.i_comment::before {
  content: '\e057';
}
.i_comments::before {
  content: '\e058';
}
.i_comments1::before {
  content: '\e059';
}
.i_comments2::before {
  content: '\e05a';
}
.i_comments3::before {
  content: '\e05b';
}
.i_comments4::before {
  content: '\e05c';
}
.i_user::before {
  content: '\e05d';
}
.i_users::before {
  content: '\e05e';
}
.i_users1::before {
  content: '\e05f';
}
.i_uname::before {
  content: '\e060';
}
.i_pc::before {
  content: '\e061';
}
.i_laptop::before {
  content: '\e062';
}
.i_laptop1::before {
  content: '\e063';
}
.i_laptop2::before {
  content: '\e064';
}
.i_laptop3::before {
  content: '\e065';
}
.i_iphone::before {
  content: '\e066';
}
.i_ipad::before {
  content: '\e067';
}
.i_iphone1::before {
  content: '\e068';
}
.i_iphone2::before {
  content: '\e069';
}
.i_smartphone::before {
  content: '\e06a';
}
.i_smartphone1::before {
  content: '\e06b';
}
.i_planet::before,
.i_timezone::before {
  content: '\e06c';
}
.i_planet1::before {
  content: '\e06d';
}
.i_planet2::before {
  content: '\e06e';
}
.i_planet3::before {
  content: '\e06f';
}
.i_planet4::before {
  content: '\e070';
}
.i_penrose::before {
  content: '\e071';
}
.i_penrose1::before {
  content: '\e072';
}
.i_penrose2::before {
  content: '\e073';
}
.i_z3w::before {
  content: '\e074';
}
.i_z3w1::before {
  content: '\e075';
}
.i_z3w2::before {
  content: '\e076';
}
.i_webdev::before {
  content: '\e077';
}
.i_w_code::before {
  content: '\e078';
}
.i_w_code1::before {
  content: '\e079';
}
.i_w_code2::before {
  content: '\e07a';
}
.i_w_code3::before {
  content: '\e07b';
}
.i_w_settings::before {
  content: '\e07c';
}
.i_w_cog::before {
  content: '\e07d';
}
.i_w_cogs::before {
  content: '\e07e';
}
.i_w_chart::before {
  content: '\e07f';
}
.i_w_chart1::before {
  content: '\e080';
}
.i_w_planet::before {
  content: '\e081';
}
.i_w_planet1::before {
  content: '\e082';
}
.i_w_ruby::before {
  content: '\e083';
}
.i_w_lock::before {
  content: '\e084';
}
.i_w_clock::before {
  content: '\e085';
}
.i_w_shield::before {
  content: '\e086';
}
.i_w_shield1::before {
  content: '\e087';
}
.i_w_design::before {
  content: '\e088';
}
.i_w_design1::before {
  content: '\e089';
}
.i_w_design2::before {
  content: '\e08a';
}
.i_w_design3::before {
  content: '\e08b';
}
.i_w_users::before {
  content: '\e08c';
}
.i_w_search::before {
  content: '\e08d';
}
.i_w_eye::before {
  content: '\e08e';
}
.i_w_link::before {
  content: '\e08f';
}
.i_pazl::before {
  content: '\e090';
}
.i_idea::before {
  content: '\e091';
}
.i_wave::before {
  content: '\e092';
}
.i_abstract::before {
  content: '\e093';
}
.i_abstract1::before {
  content: '\e094';
}
.i_shield::before {
  content: '\e095';
}
.i_fast::before {
  content: '\e096';
}
.i_rocket::before {
  content: '\e097';
}
.i_adstract2::before {
  content: '\e098';
}
.i_adstract3::before {
  content: '\e099';
}
.i_pie::before {
  content: '\e09a';
}
.i_chart::before {
  content: '\e09b';
}
.i_desgn::before {
  content: '\e09c';
}
.i_code::before {
  content: '\e09d';
}
.i_code1::before {
  content: '\e09e';
}
.i_keyboard::before {
  content: '\e09f';
}
.i_search_code::before {
  content: '\e0a0';
}
.i_think::before {
  content: '\e0a9';
}
.i_user_card::before {
  content: '\e0aa';
}
.i_pass::before {
  content: '\e0ab';
}
.i_editor::before {
  content: '\e0ac';
}
.i_lang::before,
.i_language::before {
  content: '\e0ad';
}
/****** predefined colors */
.i_rss::before,
.i_rss1::before {
  color: #f0941a;
}
.i_fb::before {
  color: #4267b2;
}
