@font-face {
  font-family: 'matrix';
  font-display: swap;
  src: url('/_fonts/matrix.woff2') format('woff2'), url('/_fonts/matrix.woff') format('woff'), url('/_fonts/matrix.ttf') format('truetype'), url('/_fonts/matrix.eot') format('embedded-opentype'), url('/_fonts/matrix.otf');
  font-style: normal;
  font-weight: normal;
}
/*video news from youtube */
#yt-news {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.25em 0;
}
#yt-news > div {
  display: inline-block;
  width: 47.5%;
  margin: 0.25em;
}
#yt-news figure {
  position: relative;
  cursor: pointer;
}
#yt-news figcaption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 0.7em;
  line-height: 1.1;
  padding: 0.25em 0;
  color: #ddd;
  background-color: rgba(0, 0, 0, 0.75);
  overflow: hidden;
  text-overflow: ellipsis;
}
#yt-news iframe,
#yt-news img {
  display: block;
  width: 100%;
}
/*video news from youtube /z*/
/* http://khersonskie-novosti.chatovod.ru/ */
body.chat main {
  padding: 0;
}
body.chat #iframe {
  height: auto;
  min-height: 95vh;
}
/* http://khersonskie-novosti.chatovod.ru/ /z*/
/* lenta from firebase */
#lenta .lenta_user {
  display: flex;
  flex-wrap: wrap;
}
#lenta .lenta_user_info {
  flex: 0;
}
#lenta .lenta_user_form {
  flex: 1;
  max-width: 100%;
  margin: 0 1em;
}
#lenta .lenta_user_form .form_field {
  position: relative;
  margin: 0 0 1.25em;
}
#lenta .lenta_user_form .form_field > label {
  font-size: 0.9em;
  padding: 0.1em 0;
}
#lenta .lenta_user_form input,
#lenta .lenta_user_form textarea {
  width: 100%;
  max-width: 100%;
}
#lenta .lenta_user_form_response {
  position: relative;
}
#lenta .lenta_user_form_response > div {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fefefe;
  box-shadow: 0 0.1em 0.5em;
  z-index: 1;
}
#lenta .lenta_user_form_response .btn_close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
#lenta .lenta_user_image {
  position: relative;
  width: 150px;
  height: 150px;
}
#lenta .lenta_user_name {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 0.8em;
  text-align: center;
  color: #ccc;
  background: rgba(0, 0, 0, 0.75);
}
#lenta .lenta_user_image img {
  width: 100%;
  height: auto;
}
#lenta .lenta_user_image img {
  width: 100%;
  height: auto;
}
.lenta_article_list {
  margin-top: 1em;
}
.lenta_article:target {
  box-shadow: 0 0 0.25em;
}
.lenta_article {
  margin-bottom: 1em;
  padding: 0.5em 1%;
}
.lenta_article_title {
  padding: 0;
  text-align: initial;
  font-size: 1.2em;
  line-height: 1.1;
  overflow: hidden;
}
.lenta_article_info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 0.75em;
}
.lenta_article_info time {
  color: #777;
}
.lenta_article_content {
  margin-top: 0.25em;
  overflow: hidden;
}
.lenta_article_content > p {
  margin: 0;
}
/* lenta from firebase /z*/
/* landing pages */
.matrix {
  font-family: 'matrix', 'roboto', arial, sans-serif, icons;
}
.oldtv_block {
  position: relative;
  text-align: center;
  font-family: 'matrix', 'roboto', arial, sans-serif, icons;
  z-index: 1;
}
.oldtv_block .oldtv:nth-child(2):before,
.oldtv_block .oldtv:nth-child(2):after {
  animation-delay: 0.25s;
}
.oldtv_block .oldtv:nth-child(3):before,
.oldtv_block .oldtv:nth-child(3):after {
  animation-delay: 0.5s;
}
.oldtv_block .oldtv:nth-child(4):before,
.oldtv_block .oldtv:nth-child(4):after {
  animation-delay: 0.75s;
}
.oldtv_block .oldtv:nth-child(5):before,
.oldtv_block .oldtv:nth-child(5):after {
  animation-delay: 1s;
}
.oldtv_block .oldtv:nth-child(6):before,
.oldtv_block .oldtv:nth-child(6):after {
  animation-delay: 1.25s;
}
.oldtv_block .oldtv:nth-child(7):before,
.oldtv_block .oldtv:nth-child(7):after {
  animation-delay: 1.5s;
}
.oldtv_block .oldtv:hover {
  animation: skew 0.35s;
}
.oldtv_block > a {
  display: block;
}
.scrambletext.bottom {
  position: absolute;
  bottom: 0;
  margin: 0;
}
#web-development-services {
  color: #ccc;
}
#web-development-services a {
  color: #7996cf;
}
#web-development-services a:hover {
  color: #4d78cc;
}
#web-development-services .tipping {
  position: absolute;
  top: 2.3rem;
  left: 0;
  font-size: 0.6em;
  line-height: 1.5;
  color: #999;
}
#web-development-services .tipping_textjs {
  padding: 0;
  margin: 0;
}
#web-development-services .tipping_text {
  display: inline;
}
#web-development-services .tipping_text a {
  position: relative;
  z-index: 1;
}
.tipping > .typed-cursor {
  color: #4d78cc;
  font-weight: bold;
  font-size: 1.25em;
  animation: blink 1.25s infinite;
}
.canvas_bg {
  overflow: hidden;
}
.canvas_bg .abscanvas {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
/* landing pages /z*/
.pogoda {
  position: relative;
  display: inline-flex;
  margin: 1em;
}
#pogoda {
  z-index: 1;
}
#pogoda:hover,
.pogoda .i_cog:hover {
  transform: unset;
}
.pogoda .i_cog {
  padding: 0.5em;
}
.no-touchevents .pogoda .i_cog {
  position: absolute;
  right: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  transform: translateX(0%);
}
.no-touchevents .pogoda:hover .i_cog {
  visibility: visible;
  opacity: 1;
  transform: translateX(100%);
}
#pg-mesta-search {
  width: 100%;
}
ul.pogoda_mesta {
  display: inline-block;
  list-style: none;
  text-align: initial;
  padding: 0 5%;
}
ul.pogoda_mesta > li {
  font-size: 1.2em;
  margin: 0.5em 0;
  cursor: pointer;
  transition: color 0.3s;
}
ul.pogoda_mesta > li:hover {
  color: #20479d;
}
/********************************** @media (MIN-width:1900px) */
@media (min-width: 1900px) {
  #yt-news > div {
    width: 100%;
    max-width: 30%;
  }
}
/********************************** @media (MIN-width:1900px) /z*/
/********************************** @media (max-width:1280px) */
@media (max-width: 1280px) {
  .pogoda {
    margin: 1em 3em;
  }
  #yt-news > div {
    margin-bottom: 1em;
  }
}
/********************************** @media (max-width:1280px) /z*/
/********************************** @media (max-width:700px)*/
@media (max-width: 700px) {
  #yt-news > div {
    width: 100%;
    margin: 0.5em 0;
  }
  #yt-news figure {
    width: 100%;
    margin: 0;
  }
  #yt-news figcaption {
    font-size: 0.9em;
  }
}
/********************************** @media (max-width:700px) /z*/
#order-deck {
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
