.z3w_jform fieldset,
.z3w_jform legend {
  border: 0;
  padding: 0;
  margin: 0;
}
.z3w_jform .control-group {
  text-align: center;
}
.z3w_jform .control-group,
.z3w_jform_field,
.mdl_login_field {
  margin: 0.5em 0;
}
.z3w_jform .control-group > .control-label {
  display: inline-block;
  text-align: left;
  font-size: 0.8em;
}
.z3w_jform .control-group > .control-label,
.z3w_jform .control-group input {
  width: 100%;
  max-width: 350px;
}
.z3w_jform label {
  color: #132a5d;
}
.z3w_jform .control-group label {
  display: inline-block;
}
.z3w_jform .z3w_jform_desc {
  max-width: 1024px;
  text-align: left;
  font-size: 0.9em;
}
.z3w_jform_field-submit,
.mdl_login_field-submit {
  text-align: center;
  margin: 1em 0 0.5em;
}
.z3w_jform label::before {
  color: #2451b2;
  margin: 0 0.25em 0 0;
}
.z3w_jform_links {
  text-align: center;
  margin: 1em 0;
}
.z3w_jform .control-label label > .star,
.z3w_jform .field-spacer {
  display: none;
}
.z3w_jform .error > input,
.z3w_jform .error > textarea {
  border: 1px solid #d02000;
  box-shadow: inset 0 0 0.3em #542121;
}
.z3w_jform .error > input:focus,
.z3w_jform .error > textarea:focus {
  box-shadow: 0 0 0.2em #5C6370;
}
.z3w_jform .subform-repeatable-wrapper {
  overflow: hidden;
  max-width: 65vw;
}
.z3w_jform .subform-repeatable-wrapper .btn-group > .btn-mini {
  display: block;
  font-size: 0.75em;
  margin: 0.5em 0;
  padding: 0.1em;
  background-color: transparent;
  box-shadow: none;
}
.z3w_jform .subform-repeatable-wrapper .btn-success {
  color: #4bae4f;
}
.z3w_jform .subform-repeatable-wrapper .btn-danger {
  color: #c14a51;
}
.z3w_jform .subform-repeatable-wrapper .btn-primary {
  color: #3367d6;
}
/* login module */
.mdl_login {
  text-align: center;
}
.mdl_login input {
  max-width: 10em;
  width: 100%;
}
.mdl_login input.btn {
  width: auto;
}
.mdl_login .mdl_login_links {
  margin-top: 1em;
}
.mdl_login .mdl_login_links > li {
  margin: 0.5em 0;
}
.mdl_login-login .mdl_login_links {
  font-size: 0.8em;
}
.no-touchevents .mdl_login-login .mdl_login_links {
  opacity: 0.85;
  transition: opacity 0.3s;
}
.mdl_login-login .mdl_login_links:hover {
  opacity: 1;
}
/* login module /z */
/* page-profile */
.page-profile {
  margin: 1em 0;
}
.page-profile .profile_fieldset_group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.page-profile .profile_fieldset_group > fieldset {
  padding: 0 1em 0.75em;
  border-color: transparent;
}
.tr .page-profile .profile_fieldset_group > fieldset {
  transition: border-color 0.3s;
}
.page-profile .profile_fieldset_group > fieldset:hover {
  border-color: rgba(0, 0, 0, 0.25);
}
.page-profile .profile_fieldset_group legend {
  padding: 0;
}
.page-profile .fieldset_desc {
  font-size: 0.75em;
  margin: 0;
}
.page-profile .profile_fieldset_group > fieldset dt {
  margin-top: 0.5em;
}
.page-profile .user_fields {
  display: inline-block;
  margin: 0 auto;
}
.page-profile .user_fields > dt {
  font-size: 0.8em;
  color: #132a5d;
}
.page-profile .user_fields > dt::before {
  color: #2451b2;
  margin: 0 0.25em 0 0;
}
.page-profile .user_fields > dd {
  line-height: 1.1;
  margin-left: 1em;
}
.page-profile .user_fields > dd.repeatable-field {
  line-height: inherit;
  margin-left: 0;
}
.user_fieldset_params dd {
  white-space: nowrap;
}
.user_fieldset_custom {
  margin-top: 1em;
}
/* page-profile /z*/
/* page-profile_edit */
.page-profile_edit .z3w_jform {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}
.page-profile_edit .z3w_jform .control-label label > .star {
  display: inline-block;
  color: #e61b1b;
}
.page-profile_edit fieldset {
  min-width: 45%;
  padding: 0 1% 0.75em;
  margin-bottom: 1em;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.page-profile_edit fieldset > legend {
  padding: 0 0.5em;
}
.page-profile_edit fieldset > legend::before {
  font-size: 0.9em;
  margin-right: 0.25em;
  color: #132a5d;
}
.page-profile_edit .fieldset_core > legend::before {
  content: '\e0aa';
}
.page-profile_edit .fieldset_params > legend::before {
  content: '\e029';
}
.page-profile_edit .fieldset_desc {
  font-size: 0.75em;
  margin: 0;
}
.page-profile_edit .z3w_jform_field-submit {
  width: 100%;
}
.page-profile_edit .fieldset_custom .control-group {
  text-align: left;
}
/* page-profile_edit /z*/
/* login page */
/* login page /z */
/* reset password page */
/* reset password page /z*/
/* reset password page &layout=confirm */
/* reset password page &layout=confirm /z*/
/* joomla's native form fields */
label#jform_name-lbl::before {
  content: '\e060';
}
label#jform_username-lbl::before,
label#username-lbl::before {
  content: '\e05d';
}
label#jform_token-lbl::before,
label#jform_password1-lbl::before,
label#jform_password2-lbl::before,
label#password-lbl::before {
  content: '\e0ab';
}
label#jform_email-lbl::before,
label#jform_email1-lbl::before,
label#jform_email2-lbl::before {
  content: '\e048';
}
label#jform_params_editor-lbl::before {
  content: '\e0ac';
}
label#jform_params_timezone-lbl::before {
  content: '\e06c';
}
label#jform_params_language-lbl::before {
  content: '\e0ad';
}
/* joomla's native form fields /z*/
@media (max-width: 1280px) {
  .z3w_jform .subform-repeatable-wrapper {
    max-width: 80vw;
  }
}
@media (max-width: 1150px) {
  .z3w_jform .subform-repeatable-wrapper {
    max-width: 95vw;
  }
  .z3w_jform .subform-repeatable-wrapper input {
    min-width: 125px;
  }
  .z3w_jform .subform-repeatable-wrapper textarea {
    min-width: 200px;
  }
}
@media (max-width: 700px) {
  .page-profile .profile_fieldset_group > fieldset {
    width: 100%;
  }
  .page-profile .user_fields {
    display: block;
  }
}
@media (max-width: 450px) {
  .z3w_jform .control-group > .control-label,
  .z3w_jform .control-group input {
    max-width: 300px;
  }
}
