.z3w_jform fieldset,
.z3w_jform legend{
	border: 0;
	padding: 0;
	margin: 0;
}
.z3w_jform fieldset{
	margin-bottom: 1.5em;
}
.z3w_jform legend{
	font-size: 0.8em;
}
.z3w_jform .control-group{
	text-align: center;
}
.z3w_jform .control-group,
.z3w_jform_field{
	margin: 0.5em 0;
}
.z3w_jform .control-group>.control-label{
	display: inline-block;
	text-align: initial;
	font-size: 0.8em;
}
.z3w_jform .control-group>.control-label,
.z3w_jform .control-group input{
	width: 100%;
	max-width: 350px;
}
.z3w_jform label{
	color: @jform-label-color;
}
.z3w_jform .control-group label{
	display: inline-block;
}
.z3w_jform .z3w_jform_desc{
	max-width: 1024px;
	text-align: initial;
	font-size: 0.9em;
}
.z3w_jform_field-submit,
.mdl_login_field-submit{
	text-align: center;
	justify-content: center;
	margin: 1em 0 0.5em;
}
.z3w_jform label::before{
	color: @a-color;
	margin: 0 0.25em 0 0;
}
.z3w_jform_links{
	text-align: center;
	margin: 1em 0;
}

.z3w_jform .control-label label>.star,
.z3w_jform .field-spacer{
	display: none;
}
.z3w_jform .error>input,
.z3w_jform .error>textarea{
	border: 1px solid @form_field-label_before-color;
	box-shadow: inset 0 0 0.3em @form_field_error-input-boxShadowColor;
}
.z3w_jform .error>input:focus,
.z3w_jform .error>textarea:focus {
	box-shadow: 0 0 0.2em @input_hover-boxShadowColor;
}


.z3w_jform .subform-repeatable-wrapper{
	overflow: hidden;
	max-width: 65vw;
}
.z3w_jform .subform-repeatable-wrapper .btn-group>.btn-mini{
	display: block;
	font-size: 0.9em;
	margin: 0.5em 0;
	padding: 0.1em;
	background-color: transparent;
	box-shadow: none;
}
.z3w_jform .subform-repeatable-wrapper .btn-success{
	color: @green-jbutton-color;
}
.z3w_jform .subform-repeatable-wrapper .btn-danger{
	color: @red-jbutton-color;
}
.z3w_jform .subform-repeatable-wrapper .btn-primary{
	color: @joomla-icon-btn-primary-color;
}
.z3w_jform .subform-repeatable-wrapper .btn.group-add{
	cursor: cell;
}
.z3w_jform .subform-repeatable-wrapper .btn.group-move{
	// cursor: move;
	cursor: grab;
}
.z3w_jform .subform-repeatable-wrapper .btn.group-move:active,
.z3w_jform .subform-repeatable-wrapper .btn.group-move:focus{
	cursor: grabbing;
}

.z3w_jform .subform-repeatable-wrapper .media-preview{
	display: inline-block;
}
.z3w_jform .subform-repeatable-wrapper .field-media-input{
	width: auto;
}

.z3w_jform .subform-repeatable-wrapper input[type="number"]{
	max-width: 7.5em;
}

/* login module */
.mdl_login{
	text-align: center;
}
.mdl_login_fields{
	display: inline-block;
}
.mdl_login_field{
	margin: 0.5em 0;
}
.mdl_login input{
	// max-width: 200px;
	width: 100%;
}
.mdl_login input.btn{
	width: auto;
}
.mdl_login .mdl_login_links{
	margin-top: 1em;
}
.mdl_login .mdl_login_links>li{
	margin: 0.5em 0;
}
.mdl_login-login .mdl_login_links{
	font-size: 0.8em;
}
.no-touchevents .mdl_login-login .mdl_login_links{
	opacity: 0.85;
	transition: opacity 0.3s;
}
.mdl_login-login .mdl_login_links:hover{
	opacity: 1;
}

.fields_label_input .mdl_login_field{
	position: relative;
	display: flex;
	align-items: center;
	margin: 0.75em 0;
}
.fields_label_input .mdl_login_field > label{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	align-self: stretch;
	width: 2em;
	margin: 0;
	padding: 0;
	color: @a-color;
}
.fields_label_input .mdl_login_field input{
	padding-left: 2em;
}
.mdl_login_field-submit > button{
	// width: 100%;
}



#modal-login{
	margin: 2.5em 0;
}
.login_socialnetworks{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0 0 1em;
}
.login_socialnetworks > p,
.page-registration .fieldset_fieldsetSN > legend{
	width: 100%;
	margin: 0 0 0.75em;
}
.login_socialnetworks .login_socialnetworks_btn,
.page-registration .fieldset_fieldsetSN .login_socialnetworks_btn{
	padding: 0;
	background-color: transparent;
	box-shadow: none;
}
.login_socialnetworks_btn > img{
	width: 2.5em;
	outline: none;
}
.page-registration .fieldset_fieldsetSN{
	text-align: center;
}
.page-registration .fieldset_fieldsetSN > .control-group{
	display: inline-block;
	margin: 0 1em;
}
.page-registration .fieldset_fieldsetSN > .control-group > .control-label{
	display: none;
}
/* login module /z */




/* joomla's native form fields */
label#jform_name-lbl::before{
	content: '\e060';
}
label#jform_username-lbl::before,
label#username-lbl::before{
	content: '\e05d';
}
label#jform_token-lbl::before,
label#jform_password1-lbl::before,
label#jform_password2-lbl::before,
label#password-lbl::before,{
	content: '\e0ab';
}
label#jform_email-lbl::before,
label#jform_email1-lbl::before,
label#jform_email2-lbl::before{
	content: '\e048';
}
label#jform_params_editor-lbl::before{
	content: '\e0ac';
}
label#jform_params_timezone-lbl::before{
	content: '\e06c';
}
label#jform_params_language-lbl::before{
	content: '\e0ad';
}

/* joomla's native form fields /z*/

@media (min-width:1350px) {
	#modal-login .mdl_login_body{
		font-size: 1.5em;
	}
}

@media (max-width: 1280px){

	.z3w_jform .subform-repeatable-wrapper{
		max-width: 80vw;
	}

}

@media (max-width: 1150px){

	.z3w_jform .subform-repeatable-wrapper{
		max-width: 95vw;
	}
	.z3w_jform .subform-repeatable-wrapper input{
		min-width: 125px;
	}
	.z3w_jform .subform-repeatable-wrapper textarea{
		min-width: 200px;
	}

}

@media (max-width:450px) {

	.z3w_jform .control-group>.control-label,
	.z3w_jform .control-group input{
		max-width: 300px;
	}

}