.i_viber::before {
	color: #665cac;
}

.vh100.lz{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 10vh 0;

	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	background-attachment: fixed;
}
.vh100.lz.bga-scroll{
	background-attachment: scroll;
}

.vh100{
	&_inner{
		max-width: 75%;
		padding: 1.5em;
		overflow: hidden;

		@media (min-width:2000px) {
			max-width: 60%;
		}
		@media (max-width:1280px) {
			max-width: 85vw;
		}
		@media (max-width:1024px) {
			max-width: 95vw;
			padding: 1em;
		}
		@media (max-width:768px) {
			max-width: 100vw;
			padding: .75em;
		}
		@media (max-width:480px) {
			padding: .5em;
		}


		img.fl,
		img.fr{

			max-width: 40%;
			height: auto;

			@media (max-width:480px) {
				float: unset;
				display: block;
				margin: .5em auto 1em;
			}
		}


		img.maw_100-sm {

			@media (max-width:480px) {
				max-width: 100%;
			}
		}
	}

	a {
		font-size: 1.1em;
	}
}


.bg-linear-fff{
	color: #071d67;
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.4) 20%,#fff);
	text-shadow: 0 0 .75em #fff;

	h1{
		position: relative;
		text-shadow: 0 0 1px #fff,0 0 .75em #fff;

		&:before{
			content: '';
			position: absolute;
			top: .3em;
			bottom: .3em;
			width: 100%;
			background: rgba(255, 255, 255, 0.75);
			transform: translateX(-110%);
		}

		strong {
			position: relative;
			z-index: 1;
		}
	}
	&:hover h1::before {
		transform: translateX(110%);
		transition: all .75s;
	}

	a{
		color: #1042ad;

		&:hover{
			transform: scale(1.1);
		}
	}

	@media (max-width:1280px) {
		background: linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.5) 15%,#fff);
	}
	@media (max-width:768px) {
		background: linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.5) 10%,#fff);
	}
}



.bg-linear-000{
	color: #cbd6ff;
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4) 20%,#000);
	text-shadow: 0 0 .75em #000;

	h1{
		position: relative;
		text-shadow: 0 0 1px #000,0 0 .75em #000;

		&:before{
			content: '';
			position: absolute;
			top: .3em;
			bottom: .3em;
			width: 100%;
			background: rgba(0, 0, 0, 0.75);
			transform: translateX(-110%);
		}

		strong {
			position: relative;
			z-index: 1;
		}
	}
	&:hover h1::before {
		transform: translateX(110%);
		transition: all .75s;
	}

	a{
		color: #a3b4f1;

		&:hover{
			transform: scale(1.1);
		}
	}

	@media (max-width:1280px) {
		background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 15%,#000);
	}
	@media (max-width:768px) {
		background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 10%,#000);
	}
}

.bg-000{
	color: #eee;
	background-color: rgba(0,0,0,.85);
	text-shadow: 0 0 .75em #000;
	transition: all .3s;

	&:hover{
		background-color: rgba(0,0,0,.93);
	}

}



.lg-on{
	overflow: hidden;
}
.lightgallery{
	text-align: center;

	&_thumbnials{
		// display: inline-block;
		display: inline-flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		a{
			display: inline-block;
		}
	}

	a.lightgallery_video{
		position: relative;

		&:before{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 3em;
			z-index: 2;
		}
		&:after{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0,0,0, 0.5);
			z-index: 1;
		}
	}
}

.form_container_inline.form_send{
	display: flex;
	justify-content: center;
	align-items: center;
}