// шаблон
/********************** Z3W styles for HTML */
.dn{
	display: none !important;
}
.df,
.dfc,
.dfcc,
.dfsb,
.dfsbc,
.dfsa,
.dfsac
{
	display: flex;
}
.dfw,
.dfwc,
.dfwcc,
.dfwsb,
.dfwsbc,
.dfwsa,
.dfwsac,
#header,
#z3_menu>ul {
	display: flex;
	flex-wrap: wrap;
}

.dfc,
.dfcc,
.dfwc,
.dfwcc,
#header{
	justify-content: center;
}

.dfsb,
.dfsbc,
.dfwsb,
.dfwsbc{
	justify-content: space-between;
}

.dfsa,
.dfsac,
.dfwsa,
.dfwsac {
	justify-content: space-around;
}

.aic,
.dfcc,
.dfwcc,
.dfwsbc,
.dfwsac{
	align-items: center;
}

.f1,
.f1c{
	flex:1 0;
}

.f1c{
	align-self: center;
}
.db{
	display: block;
}
.dib{
	display: inline-block;
}
.di{
	display: inline;
}
.tal{
	text-align: initial;
}
.tac{
	text-align: center;
}
.fr{
	float: right;
}
.fl{
	float: left;
}
.lsn{
	list-style: none;
	margin: 0;
	padding: 0;
}
.red{
	color: @red-color;
}
.green{
	color: @green-color;
}
/********************** Z3W styles for HTML /z*/

#system-message{
	position: fixed;
	left: 0;
	right: 0;
	z-index: 999;
	cursor: pointer;
	color: #ccc;
	background-color: @system-message-bgColor;
	text-align: center;
	padding: 1em 0;
	box-shadow: 0 0.25em 0.5em #21252B;
}
.tr #system-message{
	transition: transform 0.3s;
}
.hdr-unpinned #system-message{
	transform: translateY(-2.3em);
}
#system-message::before{
	position: absolute;
	top: 0;
	right: 0;
	content: '\e001';
	color: @alert-color;
}
#system-message-container .alert-heading{
	color: @alert-color;
	text-transform: uppercase;
}
#system-message-container .alert-success .alert-heading{
	color: #73a15d;
}
#t131{
	display: flex;
	flex-wrap: wrap;
	min-height: 100vh;
}
#side_a,
#side_b{
	flex: 0 1 13%;
	font-size: 0.85em;
	padding: 0 0.5rem;
	z-index: 1;
}
#side_a{
	order: 1;
}
#side_b{
	order: 3;
}
#header{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 9;
	font-size: 0.8rem;
	height: 2.3rem;
	background-color: @header-bgColor;
	// transition: all 0.2s;
}
.tr #header{
	transition: transform 0.3s;
}
#header input{
	color: @header-input-color;
	background-color: transparent;
}
/************************************************ headroom.js*/
.hdr-pinned.hdr-not-top #header{
	opacity: 0.9;
}
.hdr-pinned.hdr-not-top #header:hover{
	opacity: 1;
}
.hdr-unpinned #header,
.hdr-not-top #header {
	transform: translateY(-100%);
}
.hdr.hdr-pinned #header {
	transform: translateY(0%);
}
/* headroom.js END*/

/*--------------------------------------------- Меню в хедере */
#z3_menu > ul{
	height: 100%;
	font-size: 1.4em;
	// line-height: 1.5;
	letter-spacing: 1px;
}
#z3_menu .deep{
	position: relative;
}
#z3_menu .hide_ul{
	visibility: hidden;
	position: absolute;
	min-width: 100%;
	white-space: nowrap;
	background-color: @header-menu-hide_ul-bgColor;
	box-shadow: 0 1px 5px @header-menu-hide_ul-boxShadowColor1,0 5px 25px @header-menu-hide_ul-boxShadowColor2;
	opacity: 0;
	// transition: visibility 0.35s, opacity 0.35s, transform 0.35s, color 0.35s, background-color 0.35s, box-shadow 0.35s;
	// transition: all 0.35s;
}
.tr #z3_menu .hide_ul{
	transition: visibility 0.35s, opacity 0.35s, transform 0.35s, color 0.35s, background-color 0.35s, box-shadow 0.35s;
}
#z3_menu>ul>.deep>ul {
	font-size: 0.95em;
	left: 0;
	top: 99%;
	transform: rotateX(90deg);
	transform-origin: 0 0;
}
#z3_menu .hide_ul>.deep>.hide_ul{
	top:0;
	left: 100%;
	transform: rotateY(90deg);
}
#z3_menu>ul>.deep:hover>ul,
#z3_menu .hide_ul>.deep:hover>.hide_ul{
	visibility: visible;
	display: block;
	opacity: 1;
	z-index: 99;
}
#z3_menu>ul>.deep:hover>ul {
	transform: rotateX(0deg);
}
#z3_menu .hide_ul>.deep:hover>.hide_ul {
	transform: rotateY(0deg);
}
#z3_menu .hide_ul>li{
	border-bottom: 1px solid @header-menu-hide_ul-li-borderColor;
	text-transform: none;
}
#z3_menu .hide_ul>li:last-child{
	border: none;
}
#z3_menu a{
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0.5em 0.75em;
	color: #ccc;
	// transition: color 0.2s, background-color 0.2s, box-shadow 0.2s;
}
#z3_menu a::before{
	padding: 0 0.25em 0 0;
}
#z3_menu a.icon_only > span{
	display: none;
}
.tr #z3_menu a{
	transition: color 0.2s, background-color 0.2s, box-shadow 0.2s;
}
#z3_menu a:hover,
#z3_menu a:focus{
	background-color: @header-menu-a_hover-bgColor;
	/* background-color: #181a1f; */
}
#z3_menu>ul>li{
	display: inline-block;
	font-size: 0.9em;
	text-transform: uppercase;
	border-left: 1px solid @header-menu-li-borderColor;
	/* border-left: 1px solid #181a1f; */
}
#z3_menu>ul>li:last-child{
	border-right: 1px solid @header-menu-li-borderColor;
	/* border-right: 1px solid #181a1f; */
}
#fw.hdr-top #z3_menu>ul>li,
#fw.hdr-top #z3_menu>ul>li:last-child{
	border-color: transparent;
}
#z3_menu .active>a,
#z3_menu .active_alias>a{
	color: #4d78cc;
}
#z3_menu>ul>li>a{
	padding: 0.5em 0.5em 0.45em;
}

/*--------------------------------------------- Меню в хедере ЕНД*/


/*--------------------------------------------- Мобильное Меню */

#z3_mobmenu{
	display: none;
	order: 1;
}
.mmo main::before{
	content: '';
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	background: @body-mobileMenu_open-bgColor;
	z-index: 2;
}
.mmo #z3_mobmenu{
	position: relative;
	// right: 0;
	// top: 0;
	z-index: 999;
}
.mmo #z3_mobmenu:before {
	content: '\e001';
	// font-size: 1.3em;
	font-size: 1.2em;
	// padding-right: 0.35em;
	color: @mobileMenu-buttonClose-color;
}
.no-touchevents .mmo #z3_mobmenu:before {
	padding-right: 0.35em;
}
.touchevents #z3_menu{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	min-height: 100vh;
	visibility: hidden;
	opacity: 0;
	z-index: -1;
	// transition: visibility 0.3s, opacity 0.3s, transform 0.3s, color 0.3s, background-color 0.3s, box-shadow 0.3s;
	// transition: all 0.3s;
}
.touchevents #z3_menu > ul{
	display: inline-block;
	font-size: 2em;
	margin: 2em 1.5em 3em;
	height: auto;
	text-align: initial;
}
.mmo #z3_menu{
	display: block;
	background-color: @mobileMenu-bgColor;
	box-shadow: 0 0 1em @mobileMenu-boxShadowColor;
	overflow-y: auto;
	overflow-x: hidden;
	visibility: visible;
	opacity: 1;
	z-index: 999;
	transition: visibility 0.3s, opacity 0.3s, transform 0.3s, color 0.3s, background-color 0.3s, box-shadow 0.3s;
	// transition: all 0.3s;
}
.touchevents #z3_menu li{
	display: block;
	width: 100%;
	border: none;
	// white-space: nowrap;
}
.touchevents #z3_menu > ul > li{
	margin: 0 0 0.5em;
}
// .mmo #z3_menu > ul > li{
// 	margin: 0 0 1em;
// 	border: none !important;
// }
.mmo #logo>img{
	z-index: 1000;
}
.touchevents #z3_menu a{
	display: inline-flex;
	border-bottom: 1px solid @mobileMenu-a-borderColor;
	border-left: 1px solid @mobileMenu-a-borderColor;
}
.touchevents #z3_menu a.icon_only > span{
	display: inline-block;
}
.touchevents #z3_menu .hide_ul,
.touchevents #z3_menu .hide_ul > .deep > .hide_ul{
	opacity: 1;
	position: unset;
	visibility: inherit;
	transform: unset;
	box-shadow: none;
	background: no-repeat;
	padding-left: 1em;
}
/*--------------------------------------------- Мобильное Меню ЕНД*/

#logo{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	display: inline-flex;
	align-items: center;
	height: 100%;
	font-size: 1.45em;
	padding: 0 0.2em 0;
	color: @header-logo-text-color;
	text-transform: uppercase;
}
#logo:hover {
	animation: skew 0.3s linear;
}
#logo>img{
	width: auto;
	max-height: 100%;
	margin-right: 0.2em;
}
#logo>.logo_text{
	// line-height: 0;
	// display: flex;
	// align-items: center;
	// height: 100%;
	// font-size: 0.6em;
	// padding: 0 0 0 0.2em;
	white-space: nowrap;
}
/*
#logo>.logo_text:after{
	content: unset;
}
*/
/*
.no-touchevents #logo{
line-height: 1.1;
}
*/
#logo.oldtv::before,
#logo.oldtv::after{
	content: '\e019';
	line-height: 1.2;
	margin: 0 0.2em 0 0.1em;
	padding: 0;
}
.header-buttons{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
}
.header-buttons button{
	display: flex;
	align-items: center;
	height: 100%;
	font-size: 1.7em;
	margin: 0 0.5em 0 0;
	padding: 0;
	color: @header-buttons-color;
	background-color: @header-buttons-bgColor;
	box-shadow: none;
	// transition: visibility 0.2s, opacity 0.2s, transform 0.2s, color 0.2s, box-shadow 0.2s;
}
#contact-form{
	position: relative;
}
.touchevents #z3_mobmenu{
	display: flex;
	align-items: center;
	font-size: 1.7em;
	margin: 0 0.25em 0 0;
	cursor: pointer;
	transition: visibility 0.3s, opacity 0.3s, transform 0.3s, color 0.3s, background-color 0.3s, box-shadow 0.3s;
	// transition: all 0.3s;
}
#a2hs::before{
	padding: 0;
}
.header-buttons button:hover{
	transform: scale(1.3);
}
.header-buttons button:hover,
.header-buttons button:focus{
	background-color: @header-buttons-bgColor;
}
#hdr-search{
	position: relative;
	margin: 0 0.25em 0 0;
	cursor: auto;
}
.header-buttons .dsgn{
	background-color: @header-buttons-dsgn-bgColor;
	box-shadow: 0 0 0.1em @header-buttons-dsgn-boxShadowColor inset;
	width: 0.8em;
	height: 0.8em;
	align-self: center;
	transform: rotate(45deg);
}
#contact-form::after{
	content: '@';
	position: absolute;
	font-weight: bold;
	color: @header-buttons-contact-form_after-color;
	transform: scale(0);
	transition: transform 0.2s;
}
#contact-form:hover::after{
	transform: scale(0.8);
}
.header-buttons .dsgn:hover{
	background-color: @header-buttons-dsgn-bgColor;
}
.header-buttons button>i{
	display: none;
}

.lang_list{
	display: inline-flex;
	align-items: center;
	list-style: none;
}
.lang_list .lang_flag{
	display: inline-block;
	width: 100%;
	height: 100%;
	// transition: visibility 0.3s, opacity 0.3s, transform 0.3s, color 0.3s, background-color 0.3s, box-shadow 0.3s;
}
.lang_list li{
	order: 1;
}
.lang_list li.lang-active{
	order: 0;
}
.lang_list a.lang_flag:hover{
	transform: scale(1.2);
}
.lang_list a>i{
	display: none;
}
#header-lang{
	position: relative;
	display: inline-flex;
	align-items: center;
	margin: 0 0.5em 0 0;
	transition: visibility 0.3s, opacity 0.3s, transform 0.3s, color 0.3s, background-color 0.3s, box-shadow 0.3s;
	// transition: all 0.3s;
}
#header-lang>.lang_list{
	height: 100%;
}
#header-lang li{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	width: 3em;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	z-index: 0;
	transition: opacity 0.5s, visibility 0.35s, z-index 0.35s;
}
.no-touchevents #header-lang li{
	transition: opacity 0.3s, visibility 0s, z-index 0s;
}
#header-lang:hover li{
	visibility: visible;
	opacity: 1;
	z-index: 2;
}
#header-lang li.lang-active{
	position: relative;
	visibility: visible;
	opacity: 0.6;
	z-index: 1;
}
#header-lang .lang_flag{
	display: block;
}

#botmenu-lang{
	text-align: center;
	display: none;
}
#botmenu-lang li{
	display: inline-block;
	width: 2.5em;
	height: 1.25em;
	margin: 0.5em;
	opacity: 0.7;
	transition: all 0.3s;
}
#botmenu-lang .lang_list:hover li{
	opacity: 0.9;
}

.lang_flag.ru_ru{
	background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MCAzMCI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTAgMGg2MHYxMEgweiIvPjxwYXRoIGZpbGw9IiNkNTJiMWUiIGQ9Ik0wIDIwaDYwdjEwSDB6Ii8+PHBhdGggZmlsbD0iIzAwMzlhNiIgZD0iTTAgMTBoNjB2MTBIMHoiLz48L3N2Zz4=') center no-repeat;
}
.lang_flag.en_gb{
	background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MCAzMCI+PGNsaXBQYXRoIGlkPSJhIj48cGF0aCBkPSJNMzAgMTVoMzB2MTV6djE1SDB6SDBWMHpWMGgzMHoiLz48L2NsaXBQYXRoPjxwYXRoIGQ9Ik0wIDB2MzBoNjBWMHoiIGZpbGw9IiMwMDI0N2QiLz48cGF0aCBkPSJNMCAwbDYwIDMwbTAtMzBMMCAzMCIgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjYiLz48cGF0aCBkPSJNMCAwbDYwIDMwbTAtMzBMMCAzMCIgY2xpcC1wYXRoPSJ1cmwoI2EpIiBzdHJva2U9IiNjZjE0MmIiIHN0cm9rZS13aWR0aD0iNCIvPjxwYXRoIGQ9Ik0zMCAwdjMwTTAgMTVoNjAiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIxMCIvPjxwYXRoIGQ9Ik0zMCAwdjMwTTAgMTVoNjAiIHN0cm9rZT0iI2NmMTQyYiIgc3Ryb2tlLXdpZHRoPSI2Ii8+PC9zdmc+') center no-repeat;
}

/*логотип области в сайдбаре */
.side_logo{
	margin: 1.2em 1em;
	text-align: center;
}
.side_logo>a{
	max-width: 150px;
	width: 100%;
}
.side_logo>a:hover{
	transform: scale(1.2)
}
/*логотип области в сайдбаре /z*/
/************************************************ Кнопки наверх в футере */
.toup{
	cursor: pointer;
	transition: all 0.25s;
}
.upbottom{
	font-size: 2em;
	background-color: @footer-upbottom-bgColor;
	color: @footer-upbottom-color;
	padding:0.2em 0;
	text-align: center;
	overflow: hidden;
}
.upbottom>.i_chev_t{
	position: relative;
}
.upbottom>.i_chev_t::after{
	content: '\e012';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	font-style: normal;
	visibility: hidden;
	transform: translateY(100%);
}
.upbottom:hover>.i_chev_t::after{
	visibility: visible;
	transform: translateY(-100%);
	transition: all 0.3s;
}
.upleft{
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 1px;
	z-index: 8;
}
.touchevents .upleft{
	width: auto;
	font-size: 1.75em;
	color: @footer-touchevents-buttonToUp-color;
	right: 0;
	bottom: 0;
	left: unset;
	top: unset;
	opacity: 0.5;
	transform: translateY(100%);
}
.no-touchevents .upleft{
	left: 0;
	top: 0;
	bottom: 0;
	width: 1px;
	transform: unset;
}
.touchevents .upleft:hover,
.touchevents .upbottom:hover + .upleft{
	background: none
}
.touchevents .upleft::before{
	content: '\e00e';
}
.no-touchevents .upleft::before{
	content: unset;
}
.touchevents.hdr-not-top .upleft{
	transform: translateY(0);
}
/************************************************ Кнопки наверх в футере END*/

/************************************************ всплывающие подсказки TT */
.tt,
.stt{
	position: relative;
}

.tt::after,
.stt::after{
	content: attr(data-tt);
	visibility: hidden;
	position: absolute;
	left: 0;
	bottom: 105%;
	min-width: 100%;

	display: block;
	text-align: center;
	font: normal 0.7em sans-serif;
	padding: 0.25em;
	background-color: @simple-tooltip-bgColor;
	box-shadow: 0 0 3px @simple-tooltip-boxShadowColor;
	color: @simple-tooltip-color;

	text-shadow: none;
	pointer-events: none;
	z-index: 999;
	opacity: 0;
	transition: all 0.3s;
}
.stt::after{
	content: attr(title);
}
.tt:hover::after,
.stt:hover::after{
	visibility: visible;
	opacity: 1;
	transition: all 0.2s linear 0.3s;
}
/************************************************ END всплывающие подсказки TT */

/************************************************ модальное окно */
#z3_modal,
#modal_container {
	position: fixed;
	visibility: hidden;
	display: block;
	text-align: center;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow-y: auto;
	// z-index: -1;
	opacity: 0;
	background-color: transparent;
	// transition: visibility ease-in-out 0.3s, opacity ease-in-out 0.3s, transform ease-in-out 0.3s, color ease-in-out 0.3s, background-color ease-in-out 0.3s, box-shadow ease-in-out 0.3s;
}
.tr #z3_modal,
.tr #modal_container{
	z-index: 999;
	transition: visibility ease-in-out 0.3s, opacity ease-in-out 0.3s, transform ease-in-out 0.3s, color ease-in-out 0.3s, background-color ease-in-out 0.15s, box-shadow ease-in-out 0.3s;
}
#z3_modal::before,
#modal_container::before{
	content: '';
	display: inline-block;
	height: 100%;
	padding: 0;
	margin-left: -4px;
	vertical-align: middle;
}
.z3_modal>#z3_modal::after,
.modal_container-visible>#modal_container::after{
	content: '\e001';
	position: fixed;
	top: 0;
	right: 0;
	font-size: 1.7em;
	padding: 0.1em 0.3em;
	color: @z3_modal-buttonClose-color;
	opacity: 0.8;
	z-index: 9;
	cursor: pointer;
}
.z3_modal,
.modal_container-visible,
.mmo{
	overflow: hidden;
}
.z3_modal>#z3_modal,
.modal_container-visible>#modal_container {
	visibility: visible;
	opacity: 1;
	background-color: @z3_modal-bgColor;
	// z-index: 999;
}
#z3_modal>div,
#modal_container>div{
	display: inline-block;
	max-width: 100%;
	min-width: 25vw;
	vertical-align: middle;
	padding: 0;
	margin: 1% 0 3%;
	background-color: @z3_modal-innerDiv-bgColor;
	box-shadow: @z3_modal-innerDiv-boxShadowColor;
}
.no-touchevents > .z3_modal > #system-message-container,
.no-touchevents > .z3_modal > #header,
.no-touchevents > .z3_modal > #blog-img,
.no-touchevents > .z3_modal main,
.no-touchevents > .z3_modal > #botmenu,
.no-touchevents > .z3_modal > #footer,
.no-touchevents > .modal_container-visible > #system-message-container,
.no-touchevents > .modal_container-visible > #header,
.no-touchevents > .modal_container-visible > #blog-img,
.no-touchevents > .modal_container-visible main,
.no-touchevents > .modal_container-visible > #botmenu,
.no-touchevents > .modal_container-visible > #footer{
	filter: blur(5px);
	transition: filter 0.3s;
}

/************************ модальное окно END*/



/************************ аякс форма mail обратной связи */
.form_container{
	text-align: center;
	transition: all 0.5s;
}
#z3_modal > .form_container{
	font-size: 1.1em;
	padding: 0 2%;
}
.form_container .form_header{
	padding: 1em 0 0;
}
.form{
	text-align: center;
}
.form.form_inline{
	display: inline-block;
}
.form .form_field{
	position: relative;
	margin: 2em 0;
}
.form input,
.form textarea {
	width: 100%;
	min-width: 300px;
}
.form textarea{
	min-height: 7.7em;
}



.form_field label{
	position: absolute;
	visibility: hidden;
	bottom: 0;
	left: 0;
	padding: 0.1em 0.5em;
	transition: bottom 0.3s, visibility 0.3s, opacity 0.3s, transform 0.3s, color 0.3s, background-color 0.3s, box-shadow 0.3s;
	// transition:all 0.3s;
}
.form_field label::before {
	content: '\e00f';
	position: relative;
	display: inline-block;
	padding-right: 0.5em;
	color: @form_field-label_before-color;
	transition: visibility 0.3s, opacity 0.3s, transform 0.3s, color 0.3s, background-color 0.3s, box-shadow 0.3s;
	// transition: all 0.3s;
}
.form_field label:hover::before {
	z-index: 2;
	transform: scaleY(1.5);
}
.form_field.error>label{
	visibility:visible;
	bottom: 100%;
}

.form_field input,
.form_field textarea {
	position: relative;
	z-index: 1;
}
.form_field textarea:focus{
	transition: unset;
}
.form_field.error>input,
.form_field.error>textarea{
	box-shadow: inset 0 0 0.3em @form_field_error-input-boxShadowColor;
}
.form_field.error input::placeholder,
.form_field.error textarea::placeholder{
	color: @form_field_error-inputPlaceholder-color;
}
.form_field.error input:focus,
.form_field.error textarea:focus {
	box-shadow: 0 0 0.2em @input_hover-boxShadowColor;
}
.form_container .form_links{
	margin: 1.5em 0;
}
.form_container .form_links a{
	color: @z3_modal-innerDiv-a-color;
}
.form_container .form_links a:hover{
	transform: scale(1.1);
}

/* отправка и получение */
.form_container.form_sending{
	opacity: 0;
	transform: scale(0);
}
.form_container.form_send{
	background-color: transparent;
	opacity: 1;
	transform: scale(1);
}
.form_container.form_container_inline.form_send{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

/* new form */
#z3_modal .form_send{
	display: inline-block;
	min-width: auto;
	margin: 0;
	padding: 1em;
	background-color: transparent;
}
.form_send .form_send-ok{
	display: inline-block;
	font-size: 5em;
	margin: 0;
	padding: 0;
	animation: skew 0.25s linear 2.5s;
}
.form_send .form_send-error{
	display: inline-block;
	font-size: 5em;
	margin: 0;
	padding: 0;
}
/* new form /z*/
/* отправка и получение /z*/

/************************************************ аякс форма mail обратной связи  END*/

#botmenu,
#footer{
	background: url('assets/_img/textures/square.png') repeat;
}
/* site forms */
button.i_ok::before{
	padding:0 0.5em 0 0;
	transition: transform 0.2s;
}
button.i_ok:active::before{
	transform: scale(1.2);
}
/* site forms /z*/
/* for additional scripts */
.ajm{
	cursor: zoom-in;
}
script.lz{
	width: 1px;
	height: 1px;
	display: inline;
	visibility: hidden;
	position: absolute;
	right: 0;
}
/*
.lz{
	opacity: 0;
	transition: opacity 0.15s;
}
.lz.ll{
	opacity: 1
}
*/
/* for additional scripts /z*/

.sticky{
	position: sticky;
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	top: 0;
	background-color: @sticky-bgColor;
	z-index: 2;
	transition: top 0.2s;
	// transition: all 0.2s;
}
.hdr-not-top.hdr-pinned .sticky{
	top: 2.3rem;
}
aside .sticky:hover{
	max-height: calc(100vh - 2.3rem);
	overflow-y: auto;
	overflow-x: hidden;
}
.hdr-unpinned aside .sticky:hover{
	max-height: 100vh;
}
.sticky_bottom,
.hdr-not-top.hdr-pinned .sticky_bottom{
	top: unset;
	bottom: 0;
}

/************** webkit-based browsers (Chrome, Safari, etc.) Hack only *************************/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	// .touchevents #logo .logo_text,
	.touchevents #logo::after{
		padding-top: 0.1em;
	}
}
/************** webkit-based browsers (Chrome, Safari, etc.) Hack only ************************ /z*/

/************** Firefox Hack only *************************/
@-moz-document url-prefix() {

}
/************** Firefox Hack only ************************ /z*/
