// это чтобы под мобайл отлаживать удобнее было
/*
.touchevents #fw main>section{
overflow: hidden;
}
*/

/***************************************** потом оставить/перенести или удалить END */
/***************************************** это чтобы под мобайл отлаживать удобнее было END */


/********************************** @media (MIN-width:1350px) */
@media (min-width:1350px) {
	.v_category.trans_header .side_logo{
		position: absolute;
		left: 1em;
		width: 10%;
		top: 3em;
	}
	.v_category.trans_header .side_logo img{
		max-height: 150px;
	}
}
/********************************** @media (MIN-width:1350px) /z*/


/********************************** @media (max-width:1680px) */
@media (max-width:1680px) {
	#z3_modal>div,
	#modal_container>div{
		min-width: 30vw;
	}
}
/********************************** @media (max-width:1680px) /z*/
/********************************** @media (max-width:1500px) */
@media (max-width:1500px) {
	#z3_modal>div,
	#modal_container>div{
		min-width: 35vw;
	}
}
/********************************** @media (max-width:1500px) /z*/
/********************************** @media (max-width:1370px) */
@media (max-width:1370px) {
	main{
		font-size: 1.15rem;
		line-height: 1.45;
	}
	#side_a,
	#side_b{
		font-size: 0.8em;
		line-height: 1;
	}
	#z3_modal>div,
	#modal_container>div{
		min-width: 40vw;
	}
}
/********************************** @media (max-width:1370px) /z*/
/********************************** @media (max-width:1280px) */
@media (max-width:1280px) {

	html{
		font-size: 110%;
		-webkit-text-size-adjust: 110%;
		-ms-text-size-adjust: 110%;
	}
	main{
		line-height: 1.5;
		max-width: 85%;
		letter-spacing: 0.8px;
		order: 1;
	}
	#side_a{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		width: 100%;
		flex: 1 1 100%;
		order: 3;
	}
	#side_b{
		flex: 0 1 15%;
		order: 2;
	}

	#side_a .sticky{
		position: unset;
	}
	.hdr-not-top.hdr-pinned #side_a .sticky {
		top: unset;
	}
	.hdr-unpinned #side_a .sticky:hover{
		max-height: unset;
	}

	.side_logo img{
		min-width: 150px;
	}

}
/********************************** @media (max-width:1280px) /z*/
/********************************** @media (max-width:1150px) */
@media (max-width:1150px) {
	main{
		line-height: 1.4;
		flex: 1 0 100%;
		max-width: 100%;
	}
	#side_b{
		flex: 1 0 50%;
		order: 3;
	}
	#side_a {
		flex: 1 0 50%;
		order: 2;
	}
	aside .sticky{
		position: unset;
		background-color: transparent;
	}
	aside .sticky:hover,
	.hdr-unpinned aside .sticky:hover{
		max-height: unset;
		overflow: unset;
	}
	.hdr-not-top.hdr-pinned aside .sticky {
		top: unset;
	}

	/*--------------------------------------------- Мобильное Меню */
	#z3_mobmenu {
		display: flex;
		align-items: center;
		font-size: 1.7em;
		cursor: pointer;
	}
	#z3_menu{
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		min-height: 100vh;
		visibility: hidden;
		opacity: 0;
		z-index: -1;
		// transition: visibility 0.3s, opacity 0.3s, transform 0.3s, color 0.3s, background-color 0.3s, box-shadow 0.3s;
	}
	#z3_menu li,
	#z3_menu > ul > li{
		display: block;
		width: 100%;
		border: none;
	}
	#z3_menu a{
		display: inline-flex;
		line-height: 1.1;
		padding: 0.5em;
		border-bottom: 1px solid @mobileMenu-a-borderColor;
		border-left: 1px solid @mobileMenu-a-borderColor;
	}
	#z3_menu a:hover,
	#z3_menu a:focus{
		color: #7996cf;
	}
	#z3_menu a.icon_only > span{
		display: inline-block;
	}
	#header #z3_menu > ul{
		display: inline-block;
		height: auto;
		font-size: 1.75em;
		margin: 2em 1.5em 3em;
		text-align: initial;
	}
	#z3_menu .hide_ul,
	#z3_menu .hide_ul > .deep > .hide_ul,
	#z3_menu > ul > .deep > ul{
		opacity: 1;
		position: unset;
		font-size: 0.9em;
		padding-left: 1em;
		background: no-repeat;
		box-shadow: none;
		visibility: inherit;
		transform: unset;
	}
	#z3_menu .hide_ul{
		white-space: normal;
	}
	#z3_menu .hide_ul > li{
		border: none;
	}
	.mmo #header{
		background-color: transparent;
	}
	/*--------------------------------------------- Мобильное Меню ЕНД*/
	#z3_modal>div,
	#modal_container>div{
		min-width: 60vw;
	}
}
/********************************** @media (max-width:1150px) /z*/

/********************************** @media (max-width:1024px) */
@media (max-width:1024px) {

	#z3_modal>div,
	#modal_container>div{
		min-width: 65vw;
	}
	.header-buttons button:hover{
		transform: unset;
	}

}
/********************************** @media (max-width:1024px) /z*/



/********************************** @media (max-width:850px) */
@media (max-width:850px) {

	#z3_modal>div,
	#modal_container>div{
		min-width: 75vw;
	}

	.mmo .logo_text{
		display: none;
	}

}
/********************************** @media (max-width:850px) /z*/


@media (max-width:700px){

	main{
		font-size: 1.15rem;
		line-height: 1.3;
	}

	#z3_modal>div,
	#modal_container>div{
		min-width: 80vw;
	}

}
/********************************** @media (max-width:700px) and (orientation:portrait)
tablets - vertical */
@media (max-width:700px) and (orientation:portrait) {

}
/********************************** @media (max-width:700px) and (orientation:portrait)
tablets - vertical /z*/

/********************************** @media (max-width:700px) and (orientation:landscape)
phones - horizontal */
@media (max-width:700px) and (orientation:landscape) {

	#header #z3_menu > ul {
		margin: 2em 1.5em 3em;
	}

}
/********************************** @media (max-width:700px) and (orientation:landscape)
phones - horizontal /z*/


/********************************** @media (max-width:450px) phones */
@media (max-width:450px) {

	html {
		font-size: 107%;
		-webkit-text-size-adjust: 107%;
		-ms-text-size-adjust: 107%;
	}

	#t131 > main{
		padding: 0 0.25rem;
	}
	main{
		font-size: 1.05rem;
	}
	#fullscreen-mode{
		display: none;
	}
	.side_logo{
		margin: 1.2em 0.5em;
	}

	/*--------------------------------------------- Mobile Menu */
	#z3_menu{
		left: 0;
		text-align: center;
	}
	#header #z3_menu > ul{
		text-align: initial;
		margin: 2em 0.5em;
	}
	#logo > .logo_text{
		display: none;
	}
	#logo::after{
		content: attr(data-mobile-title);
		// position: absolute;
		// top: 0;
		// left: 100%;
		// display: flex;
		// align-items: center;
		// height: 100%;
		// font-size: 0.65em;
		// text-transform: uppercase;
		// padding: 0 0 0 0.25em;
	}
	/*--------------------------------------------- Mobile Menu /z*/
	#z3_modal>div,
	#modal_container>div {
		width: 98%;
	}
	.pag_num,
	.pag_active{
		font-size: 0.85em;
	}

	table td,
	table th{
		padding: 0.25em;
	}
}
/********************************** @media (max-width:450px) phones /z*/


/********************************** @media (max-width:360px) */
@media (max-width:360px) {
	html{
		font-size: 104%;
		-webkit-text-size-adjust: 104%;
		-ms-text-size-adjust: 104%;
	}
	.header-buttons button{
		margin-right: 0.45em;
	}
}
/********************************** @media (max-width:360px) /z*/

/********************************** @media (max-width:330px) */
@media (max-width:330px) {
	html{
		font-size: 102%;
		-webkit-text-size-adjust: 102%;
		-ms-text-size-adjust: 102%;
	}
	main{
		font-size: 1rem;
		// line-height: 1.3;
	}
	#a2hs{
		position: absolute;
		top: 100%;
		right: 0;
	}
	.hdr-unpinned #a2hs{
		top: 0;
		visibility: hidden;
	}
}
/********************************** @media (max-width:330px) /z*/

// непонятно, на монике при увеличенном масштабе dpi почти так же как и на планшете в 1280px
/*
@media (min-resolution: 116dpi){
body{
display: none;
}
}
*/
