// 3-d party services
.grecaptcha-badge {
	visibility: hidden;
	display: none !important;
	// position: static !important;
	// visibility: visible !important;
}
.g_capcha{
	display: flex;
	justify-content: center;
	align-items: center;
}
.g-recaptcha-v3{
	// display: none;
}
// 3-d party services/
/* useful stuff */
.tar{
	text-align: right;
}
.m0{
	margin: 0;
}
.m2-0{
	margin: 2em 0
}
.m1-0{
	margin: 1em 0
}
.m05-0{
	margin: 0.5em 0
}
.m0-1{
	margin: 0 1em;
}
.m03{
	margin: 0.3em
}
.m05{
	margin: 0.5em
}

.p0{
	padding: 0;
}
.p1-0{
	padding: 1em 0
}
.p0-1{
	padding: 0 1em;
}
.p03{
	padding: 0.3em
}
.p05{
	padding: 0.5em
}
.w100{
	width: 100%;
}
.h100{
	min-height: 100vh;
}
.h100p{
	height: 100%;
}
.bg000{
	background: #000;
}
.fs09{
	font-size: 0.9em;
}
.fs08{
	font-size: 0.8em;
}
.fs075{
	font-size: 0.75em;
}
.fs07{
	font-size: 0.7em;
}
.fs06{
	font-size: 0.6em;
}
.fs05{
	font-size: 0.5em;
}

.cb {
	clear: both;
}

.dfwcc100{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	padding: 1em 0 2em;
}
@media (max-width:1024px) {
	.dfwcc100{
		min-height: 100%;
	}
}
.dfwcc100 .page_header>h1{
	padding-top: 0;
}
/* useful stuff /z*/

/* template customization */
body.fw_page{

}
body.fw_page main{
	max-width: 100%;
	padding: 0;
	margin: 0;
}
@media (max-width:450px) {
	body.fw_page #t131>main{
		padding: 0;
		margin: 0;
	}
}

body.fw_page aside,
body.fw_page footer,
body.fw_page #botmenu{
	display: none !important;
}
body.fw_page main>section{
	position: relative;
}

.header_transp{
	padding: 0;
}
.header_transp #header{
	background-color: transparent;
	transition: all 0.3s;
}
.header_transp #header a,
.header_transp #header ul,
.header_transp #header ul li{
	background-color: transparent;
	border-color: transparent;
}
.header_transp #header ul.hide_ul{
	background-color: rgba(0, 0, 0, 0.75);
}
.touchevents .header_transp #header ul.hide_ul{
	background-color: transparent;
}
@media (max-width:1150px) {
	.header_transp #header ul.hide_ul{
		background-color: transparent;
	}
}
.header_transp #z3_menu a:hover,
.header_transp #z3_menu a:focus{
	color: #7996cf;
}
/* template customization /z*/

.accordion-btn{
	box-shadow: none;
	border: none;
	padding: 0.1em;
	color: @body-color;
	background-color: transparent;
	text-transform: inherit;
	transition: visibility 0.3s, opacity 0.3s, transform 0.3s, color 0.3s, background-color 0.3s, box-shadow 0.3s;
}
.accordion-btn::before{
	color: @a-color;
	transition: visibility 0.3s, opacity 0.3s, transform 0.3s, color 0.3s, background-color 0.3s, box-shadow 0.3s;
}
.accordion-btn:hover,
.accordion-btn:focus,
.accordion-btn:active{
	background-color: transparent;
	box-shadow: none;
	border: none;
	transform: unset;
}
.i_chev_b.accordion-btn.active::before{
	transform: scaleY(-1);
}
.i_chev_r.accordion-btn.active::before{
	transform: rotate(90deg);
}
.accordion-btn-text{
	margin-left: 0.25em;
}
.accordion-content{
	height: 0;
	opacity: 0;
	overflow: hidden;
	transition: height 0.3s, visibility 0.3s, opacity 0.3s, transform 0.3s, color 0.3s, background-color 0.3s, box-shadow 0.3s;
}
.accordion-content.active{
	opacity: 1;
}

.question_mark{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font: bold 0.65em/1 arial, sans-serif;
	width: 1.3em;
	height: 1.3em;
	padding: 0;
	margin: 0;
	background-color: @mark-bgColor;
	border: 1px solid @mark-bgColor;
	color: @mark-color;
	border-radius: 50%;
	cursor: help;
}
.question_mark::before{
	content: '?';
	font: bold 1em/1 arial, sans-serif;
}

/* custom footer */
#footer{
	// background: url(/_img/textures/square.png) repeat;
}
.home_desc{
	text-align: center;
}
.foot_links>a{
	display: flex;
	align-items: center;
	white-space: nowrap;
	margin: 0.5em 0;
}
.foot_links>a>img{
	width: auto;
	height: 2em;
	margin-right: 0.5em;
}
.foot_smm_links{
	display: flex;
	justify-content: center;
}
.foot_smm_links>a{
	margin: 0.5em;
	font-size: 1.5em;
}
.footer_info_menu li{
	margin: 1em 0;
}
.foot_desc{
	width: 100%;
	font-size: 0.9em;
	text-align: center;
}
/* custom footer /z*/


/* cpa advertizement */
#cpa{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	visibility: hidden;
	opacity: 0;
	overflow: hidden;
}
.tr #cpa{
	transition: visibility 0.35s, opacity 0.35s;
}
#cpa.visible{
	visibility: visible;
	opacity: 0.9;
	// opacity: 1;
}
#cpa:hover{
	opacity: 1;
}
#cpa a{
	position: relative;
}
#cpa img{
	transition: transform 0.5s;
}
#cpa:hover img{
	transform: scale(1.25);
}
#cpa .cpa_img{
	position: relative;
	overflow: hidden;
}
#cpa a,
#cpa img{
	max-width: 250px;
	width: 100%;
}
#cpa .cpa_title{
	text-align: center;
	margin: 0.5em 0;
	line-height: 1.1;
}
#cpa .cpa_desc{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	margin: 0;
	padding: 0.5em;
	color: #ddd;
	background-color: rgba(0, 0, 0, 0.75);
	visibility: hidden;
	opacity: 0;
	transform: translateY(100%);
}
#cpa ul.cpa_desc{
	list-style: none;
}
#cpa ul.cpa_desc>li{
	margin: 0.25em 0;
}
.tr #cpa .cpa_desc{
	transition: visibility 0.35s, opacity 0.35s, transform 0.35s;
}
#cpa:hover .cpa_desc{
	visibility: visible;
	opacity: 1;
	transform: translateY(0%);
}
#cpa .cpa_contact{
	align-self: center;
}
#cpa .cpa_contact>.btn{
	font-size: 0.75em;
}
.touchevents #cpa .cpa_desc{
	display: block;
	text-align: center;
	position: static;
	font-size: 0.9em;
	color: inherit;
	background-color: transparent;
	visibility: visible;
	opacity: 1;
	transform: unset;
}
.touchevents #cpa:hover img{
	transform: unset;
}
@media (max-width:1280px) {
	#cpa{
		margin: 0 1em;
	}
	#cpa a, #cpa img {
		// max-width: 100%;
		max-width: 300px;
		width: 100%;
	}
	#cpa .cpa_contact{
		width: 100%;
		text-align: center;
	}
}
/* cpa advertizement /z*/
