@import url("../vars/onedark-vars.less");
/***************** normalize.css */
html,
body{
	color: @body-color;
	background-color: @body-bgColor;
}
a,
.link{
	color: @a-color;
}
a:hover,
a:focus,
.link:hover,
.link:focus{
	color: @a_hover-color;
}

.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"]{
	color: @button-color;
	background-color: @button-bgColor;
	box-shadow: @button-boxShadowColor;
}
.btn:hover,
.btn:focus,
button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus{
	background-color: @button_hover-bgColor;
	box-shadow: @button_hover-boxShadowColor;
}
.btn:active,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active{
	background-color: @button_active-bgColor;
	box-shadow: @button_active-boxShadowColor;
}
a.btn:hover,
a.btn:active,
a.btn:focus{
	color: @button-color;
}

button[disabled],
input[disabled],
button[disabled]:hover,
input[disabled]:hover{
	color: @button_disabled-color;
	box-shadow: @button-boxShadowColor;
}

input,
select,
textarea{
	color: @input-color;
	background-color: @input-bgColor;
	box-shadow: 0 0 0.3em @input-boxShadowColor inset;
}
select>optgroup{
	background-color: @select-bgColor;
}
input[readonly],
textarea[readonly],
input[readonly]:hover,
textarea[readonly]:hover,
input[readonly]:focus,
textarea[readonly]:focus,
input[readonly]:active,
textarea[readonly]:active{
	color: @button_disabled-color;
	box-shadow: 0 0 0.3em @input-boxShadowColor inset;
}

input[type="checkbox"]::before,
input[type="radio"]::before{
	color: @checkbox-color;
}
input[type="checkbox"]:checked::before,
input[type="radio"]:checked::before{
	color: @checkbox_active-color;
}
input[type="radio"]:checked::before{
	background-color: @checkbox_active-color;
}

code,
kbd,
pre,
samp{
	color: @code-color;
	background-color: @code-bgColor;
}
mark,
.i_question_mark{
	color: @mark-color;
	background-color: @mark-bgColor;
}
.i_question_mark{
	border-color: @mark-bgColor;
}
/****************** normalize.css /z*/


/****************** main.css */

#header{
	background-color: @header-bgColor;
}
#header input{
	color: @header-input-color;
}
#z3_menu a{
	color: @header-menu-a-color;
}
#z3_menu .hide_ul{
	background-color: @header-menu-hide_ul-bgColor;
}
.header-buttons button{
	color: @header-buttons-color;
	background-color: @button-bgColor;
	box-shadow: none;
}
.header-buttons .dsgn{
	background-color: @header-buttons-dsgn-bgColor;
	box-shadow: 0 0 0.1em @header-buttons-dsgn-boxShadowColor inset;
}
.header-buttons .dsgn:hover{
	background-color: @header-buttons-dsgn-bgColor;
}

.z3_modal>#z3_modal,
.modal_container-visible>#modal_container{
	background-color: @z3_modal-bgColor;
}
#z3_modal>div,
#modal_container>div{
	background-color: @z3_modal-innerDiv-bgColor;
	box-shadow: @z3_modal-innerDiv-boxShadowColor;
}

.sticky{
	background-color: @sticky-bgColor;
}

.form_container .form_links a{
	color: @z3_modal-innerDiv-a-color;
}
.form_container .form_links a:hover{
	color: @a1-color;
}
.upbottom{
	background-color: @footer-upbottom-bgColor;
}
/****************** main.css /z*/


/****************** blog.css */
.green {
	color: @green-button-color;
}
.newsflash > div,
.newsflash > li{
	background-color: @newsflash-li-bgColor;
}
.newsflash h3{
	color: @newsflash-h3-color;
	text-shadow: 0 0 0.1em @newsflash-h3-textShadowColor;
}

.all_cats a{
	color: @a1-color;
}
.all_cats a:hover {
	color: @a-color;
}
.tagspopular a,
.blog_tags a{
	color: @blog_tags-a-color;
}
.tagspopular a:hover,
.blog_tags a:hover {
	color: @blog_tags-a_hover-color;
}
.tagspopular a:hover::before {
	color: @body-color;
}
.all_cats .active > a,
.tagspopular .active > a {
	color: @body-color;
}

.blg_dsgn > .blg_dsgn-btn{
	color: @a1-color;
}
.blog h2>a,
.blog h3>a{
	color: @blogList-h2-a-color;
}
.blog h2>a:visited,
.blog h3>a:visited{
	color: @blogList-h2-a_visited-color;
}
.blog h2>a:hover,
.blog h3>a:hover,
.blog h2>a:visited:hover,
.blog h3>a:visited:hover{
	color: @blogList-h2-a_hover-color;
}
.only_links .blog h2 > a,
.only_links .blog h3 > a{
	color: @only_links_blogList-h2-a-color;
}
.only_links .blog h2 > a:visited,
.only_links .blog h3 > a:visited{
	color: @only_links_blogList-h2-a_visited-color;
}
.only_links .blog h2 > a:hover,
.only_links .blog h3 > a:hover{
	color: @only_links_blogList-h2-a_hover-color;
}
#tags h2>a,
#tags h3>a{
	color: @blog_tags-a-color;
}
#tags h2>a:hover,
#tags h3>a:hover{
	color: @blog_tags-a_hover-color;
}
.only_links .intro_text{
	color: @only_links_blogList-intro_text-color;
}


.blog_cutom_img::after{
	background-color: @blog_cutom_img-bgColor;
}

.full_article img:fullscreen{
	background-color: @body-bgColor;
}

.relateditems a{
	color: @a1-color;
}
.blue,
.voting_stars:hover .vote_star,
.voting_stars .vote_star:hover{
	color: @a-color;
}

/* ekerlab EPC */
.voting button{
	box-shadow: none;
}
.voting_response{
	background-color: @body-bgColor;
}
.comment a{
	color: @a1-color;
}
.comments_form .form_field-textarea .i_fw{
	color: @a-color;
}
.comments_form:fullscreen{
	background-color: @body-bgColor;
}
.comments_form:fullscreen .i_ok{
	background-color: @button-bgColor;
}
/* ekerlab EPC /z*/
/* @todo: move to main - it's not a blog, it is main template */
.breadcrumb a{
	color: @a1-color;
}
.black_tag{
	background-color: @searchResultsHighlight;
}
.search-results .highlight{
	background-color: @searchResultsHighlight;
}
/* @todo: move to main - it's not a blog, it is main template /z*/
/****************** blog.css /z*/

/* styles */
.accordion-btn{
	color: @body-color;
}
.accordion-btn::before{
	color: @a-color;
}
/* styles /z*/


/* cms.less + user.less */
.z3w_jform label,
.page-profile_edit fieldset > legend::before,
.page-profile .user_fieldset > legend::before,
.page-profile .user_fields > dt{
	color: @jform-label-color;
}
.z3w_jform label::before,
#login .login_form label::before,
.page-profile .user_fields>dt::before{
	color: @a-color;
}
.z3w_jform .subform-repeatable-wrapper .btn-success{
	color: @green-jbutton-color;
}
.z3w_jform .subform-repeatable-wrapper .btn-danger{
	color: @red-jbutton-color;
}
.z3w_jform .subform-repeatable-wrapper .btn-primary{
	color: @joomla-icon-btn-primary-color;
}

.fields_label_input .mdl_login_field > label{
	color: @a-color;
}
/* cms.less + user.less /z*/

/* logged.less */
.page-profile .profile_fieldset_group legend,
.page-profile_edit fieldset>legend{
	background-color: @profile_fields-legend-bgColor;
}
/* logged.less /z*/

/* pages.less */
#lenta .lenta_user_form_response > div{
	background-color: @body-bgColor;
}
/* pages.less /z*/



/********************************** @media (max-width:700px) */
@media (max-width:700px) {

	.newsflash h3{
		color: @white-gray-color;
	}

}
/********************************** @media (max-width:700px) /z*/


::-webkit-scrollbar-track {
	background: @webkit-scrollbar-track-bgColor;
}
::-webkit-scrollbar-track:hover {
	background: @webkit-scrollbar-track_hover-bgColor;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: @webkit-scrollbar-thumb-color;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: @webkit-scrollbar-thumb_hover-color;
}

/* Firefox scrollbar */
html,
div,
nav{
	scrollbar-color: @ff-scrollbar-thumb-color @ff-scrollbar-track-bgColor;
}
/* Firefox scrollbar /z*/
/************** webkit-based browsers (Chrome, Safari, etc.) Hack only *************************/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	/* autofill inputs*/
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	textarea:-webkit-autofill,
	textarea:-webkit-autofill:hover,
	textarea:-webkit-autofill:focus,
	select:-webkit-autofill,
	select:-webkit-autofill:hover,
	select:-webkit-autofill:focus{
		-webkit-text-fill-color: @input-color;
	}
	#header input:-webkit-autofill,
	#header input:-webkit-autofill:hover,
	#header input:-webkit-autofill:focus,
	#header textarea:-webkit-autofill,
	#header textarea:-webkit-autofill:hover,
	#header textarea:-webkit-autofill:focus,
	#header select:-webkit-autofill,
	#header select:-webkit-autofill:hover,
	#header select:-webkit-autofill:focus{
		-webkit-text-fill-color: @white-gray-1-color;
	}
	/* autofill inputs /z*/
}
/************** webkit-based browsers (Chrome, Safari, etc.) Hack only ************************ /z */