body{
	// background-image: url('/img/elwas/elektroinstalace.jpg');
	// background-repeat: no-repeat;
	// background-position: top center;
	// background-size: cover;
	// background-attachment: fixed;
	background-color: #fff;
}
#header{
	background-color: #ffffff !important;
	box-shadow: 0.1em 0 0.75em #5F82BD;

	#logo {
		text-transform: none;
	}
}

#footer .upbottom{
	background-color: #FFF;
	color: #0043B5;
	box-shadow: -0.1em 0 0.75em #5F82BD;
	// background-image: url('/img/elwas/lighting.png');
}
.touchevents #z3_menu > ul > li{
	border: none;
}
.header-buttons button{
	color: #1046a0;
}
.mmo #z3_menu{
	background-color: #fff;
}
#logo,
#z3_menu a{
	color: #0043B5;
}
#contact-form::after{
	// color: #0043B5;
	text-shadow: 0 0 0.1em #0043B5;
}
#z3_menu .active > a,
#z3_menu .active_alias > a {
	color: #0043B5;
	// text-decoration: underline;
	text-decoration: none;
}
#z3_menu a:hover, #z3_menu a:focus {
	background-color: transparent;
	box-shadow: 0 0 0.35em inset;
}
#z3_menu > ul > li,
#z3_menu > ul > li:last-child{
	border-color: rgba(24, 26, 31, 0.2);


	@media (max-width:1150px) {
		border-color: transparent !important;
	}

}
.touchevents #z3_menu a{
	border-color: rgba(24, 26, 31, 0.2);
}

// .touchevents .upleft{
// 	right: unset;
// 	left: 0;
// }

.bg-linear-000{

	&.bg-opacity-06{
		background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4) 20%,rgba(0, 0, 0, 0.6));
		color: #a1dcdb;

		a{
			// color: #49c1bf;
			color: #c9e4e3;
		}

		// &:hover{
		// 	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 20%,rgba(0, 0, 0, 0.7));
		// }

		@media (max-width:1280px) {
			background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 15%,rgba(0, 0, 0, 0.6));
		}
		@media (max-width:768px) {
			background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 10%,rgba(0, 0, 0, 0.6));
		}
	}

	h1::before{
		background: url('/img/elwas/lighting.png');
		background-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
	}
	&:hover h1::before{
		transition: all 2s;
	}
}

.lightgallery_thumbnials a{
	position: relative;
	width: 250px;
	height: 250px;
	margin: 1%;
	overflow: hidden;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	box-shadow: 0 0.125em 0.25em #000;
	transition: transform 0.3s;

	&:hover{
		transform: scale(1.1);
		z-index: 1;
	}
}
body .lg-icon,
body #lg-counter{
	color: #fff !important;
}
body .lg-outer .lg-item{
	background: #fff !important;
}
body .lg-progress-bar .lg-progress{
	background-color: #3367d6;
}
body .lg-sub-html,
body .lg-toolbar {
	background-color: rgba(0,0,0,.3);
}

.btn.contact-form-btn-fixed{
	position: fixed;
	bottom: .5em;
	right: .5em;
	font-size: 1.35em;
	width: 2em;
	height: 2em;
	box-shadow: 0 0 .25em
	#fff inset;
	transform: rotate(45deg);
	z-index: 9;


	@media (max-width:1280px) {
		font-size: 1.25em;
	}
	@media (max-width:768px) {
		font-size: 1.2em;
	}
	@media (max-width:360px) {
		font-size: 1.1em;
	}

	& > i {
		width: 1.2em;
		height: 1.2em;
		line-height: 0;
		transform: rotate(-45deg) scaleX(-1);
		transition: visibility 0.3s, opacity 0.3s, transform 0.3s, color 0.3s, background-color 0.3s, box-shadow 0.3s;
	}

	&:hover{
		transform: rotate(0);

		& > i{
			transform: rotate(0) scaleX(-1);
		}

	}
}


section figure > img{
	display: block;
	max-width: 100%;
}
section figure.m1e0 {
	margin-top: 1em;
	margin-bottom: 1em;
}
section figure.fr {
	margin: 0 0 0 1.5em;
	box-shadow: .1em -.1em .5em #7c849d;
}
section figure.fl {
	margin: 0 1.5em 0 0;
	box-shadow: -.1em -.1em .5em #7c849d;
}
section figure.fl,
section figure.fr {
	max-width: 45%;

	@media (max-width:1024px) {
		display: block;
		max-width: 100%;
		margin: 0 auto;
		float: unset;
		box-shadow: 0 0 .5em #7c849d;
	}
}

.df2{
	& > * {
		flex: 1 1;

		@media (max-width:1024px) {
			flex: 1 1 100%;
		}
	}
}

