#system-debug{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	max-height: 100vh;
	font-size: 0.75em;
	z-index: 999;
	overflow-y: scroll;
}
.memory_get_usage{
	position: fixed;
	bottom: 0;
	left: 0;
	font-size: 1em;
	padding: .5em;
	color: #ccc;
	background: #333;
	z-index: 999;
}