/* page-profile */
.page-profile{
	margin: 1em 0;
}
.page-profile .profile_fieldset_group{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.page-profile .profile_fieldset_group hr.w100{
	visibility: hidden;
}
.page-profile .profile_fieldset_group>fieldset{
	margin-top: 1em;
	padding: 0;
	// border-color: transparent;
}
// .tr .page-profile .profile_fieldset_group>fieldset{
// 	transition: border-color 0.3s;
// }
// .page-profile .profile_fieldset_group>fieldset:hover{
// 	border-color: rgba(0, 0, 0, 0.25);
// }
.page-profile .profile_fieldset_group legend{
	font-size: 0.8em;
	padding: 0.25em 0.5em;
	margin: 0 0.5em;
	background-color: @profile_fields-legend-bgColor;
	// border: 1px solid @rgba-black_03;
}
.page-profile .fieldset_desc {
	font-size: 0.75em;
	text-align: initial;
	margin: 0.25em 0.5em 0;
}
.page-profile .profile_fieldset_group>fieldset dt{
	margin-top: 0.5em;
}
.page-profile .user_fields{
	display: inline-block;
	text-align: initial;
	margin: 0.25em 1em 0.75em;
}
.page-profile .user_fields>dt{
	font-size: 0.8em;
	color: @jform-label-color;
}
.page-profile .user_fields>dt::before{
	margin: 0 0.25em 0 0;
	color: @a-color;
}
.page-profile .user_fields>dd{
	line-height: 1.1;
	margin-left: 1em;
}
.page-profile .user_fields > dd.repeatable-field{
	line-height: inherit;
	margin-left: 0;
}
.page-profile .user_fields > dd.repeatable-field > .cfield_repeatable-table{
	margin: 0.5em;
}
.user_fieldset_params dd{
	white-space: nowrap;
}
.user_fieldset_custom{
	// margin-top: 1em;
}

@media (max-width:700px){

	.page-profile .profile_fieldset_group > fieldset{
		width: 100%;
	}
	.page-profile .user_fields{
		display: block;
	}

}
/* page-profile /z*/

/* page-profile_edit */
.page-profile_edit .z3w_jform{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
}
.page-profile_edit .z3w_jform .control-label label>.star{
	display: inline-block;
	color: @alert-color;
}
.page-profile_edit fieldset{
	min-width: 45%;
	padding: 0 1% 0.75em;
	// margin-bottom: 1em;
	border: 1px solid rgba(0,0,0,0.25);
}
.page-profile_edit fieldset>legend{
	padding: .25em .5em;
	margin: 0 .5em;
	background-color: @profile_fields-legend-bgColor;
}
.page-profile_edit fieldset>legend::before{
	font-size: 0.9em;
	margin-right: 0.25em;
	color: @jform-label-color;
}
.page-profile_edit .fieldset_core>legend::before{
	content: '\e0aa';
}
.page-profile_edit .fieldset_params>legend::before{
	content: '\e029';
}
.page-profile_edit .fieldset_desc{
	font-size: 0.75em;
	margin: 0.25em 0.5em 0;
}
.page-profile_edit .z3w_jform_field-submit{
	width: 100%;
}
.page-profile_edit .fieldset_custom .control-group{
	text-align: left;
}
/* page-profile_edit /z*/

/* login page */
/* login page /z */

/* reset password page */
/* reset password page /z*/

/* reset password page &layout=confirm */
/* reset password page &layout=confirm /z*/
