/* tiny mce editor */
.mce-container button,
.mce-container button:hover,
.mce-container button:active,
.mce-container button:focus{
	background: transparent;
	box-shadow: none;
}
/* tiny mce editor /z*/